sysmexdatafactoryencrypted/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "sysmexdatafactoryencrypted"
		},
		"AzureDataLake_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLake'"
		},
		"Report_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Report'"
		},
		"SAPOData_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SAPOData'"
		},
		"sysmexdw_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sysmexdw'"
		},
		"AzureDataLake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sysmexstorage.dfs.core.chinacloudapi.cn/"
		},
		"AzureKeyVaultSchBI_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://schpowerbi.vault.azure.cn/"
		},
		"RestServiceAPIGW_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://10.40.20.195:8083"
		},
		"SAPOData_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://vhsmxsjpci.hec.jp.sysmex.biz:8000"
		},
		"SAPOData_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "OData"
		},
		"SourceDataset_SAPProductPrice_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://10.40.20.218:8081"
		},
		"selfhosted_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/f380de5b-8c2e-49a9-b019-e89b4bf45b71/resourcegroups/powerbi/providers/Microsoft.DataFactory/factories/sysmexfactory/integrationruntimes/selfhosted"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PurchaseDataExtraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyEKKOData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Mandt']"
										},
										"sink": {
											"name": "Mandt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ebeln']"
										},
										"sink": {
											"name": "Ebeln",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bukrs']"
										},
										"sink": {
											"name": "Bukrs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bstyp']"
										},
										"sink": {
											"name": "Bstyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bsart']"
										},
										"sink": {
											"name": "Bsart",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bsakz']"
										},
										"sink": {
											"name": "Bsakz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Loekz']"
										},
										"sink": {
											"name": "Loekz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Statu']"
										},
										"sink": {
											"name": "Statu",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Aedat']"
										},
										"sink": {
											"name": "Aedat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ernam']"
										},
										"sink": {
											"name": "Ernam",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lastchangedatetime']"
										},
										"sink": {
											"name": "Lastchangedatetime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pincr']"
										},
										"sink": {
											"name": "Pincr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lponr']"
										},
										"sink": {
											"name": "Lponr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lifnr']"
										},
										"sink": {
											"name": "Lifnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Spras']"
										},
										"sink": {
											"name": "Spras",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zterm']"
										},
										"sink": {
											"name": "Zterm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zbd1t']"
										},
										"sink": {
											"name": "Zbd1t",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zbd2t']"
										},
										"sink": {
											"name": "Zbd2t",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zbd3t']"
										},
										"sink": {
											"name": "Zbd3t",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zbd1p']"
										},
										"sink": {
											"name": "Zbd1p",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zbd2p']"
										},
										"sink": {
											"name": "Zbd2p",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ekorg']"
										},
										"sink": {
											"name": "Ekorg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ekgrp']"
										},
										"sink": {
											"name": "Ekgrp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Waers']"
										},
										"sink": {
											"name": "Waers",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Wkurs']"
										},
										"sink": {
											"name": "Wkurs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kufix']"
										},
										"sink": {
											"name": "Kufix",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bedat']"
										},
										"sink": {
											"name": "Bedat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kdatb']"
										},
										"sink": {
											"name": "Kdatb",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kdate']"
										},
										"sink": {
											"name": "Kdate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bwbdt']"
										},
										"sink": {
											"name": "Bwbdt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Angdt']"
										},
										"sink": {
											"name": "Angdt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bnddt']"
										},
										"sink": {
											"name": "Bnddt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Gwldt']"
										},
										"sink": {
											"name": "Gwldt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ausnr']"
										},
										"sink": {
											"name": "Ausnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Angnr']"
										},
										"sink": {
											"name": "Angnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ihran']"
										},
										"sink": {
											"name": "Ihran",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ihrez']"
										},
										"sink": {
											"name": "Ihrez",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Verkf']"
										},
										"sink": {
											"name": "Verkf",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Telf1']"
										},
										"sink": {
											"name": "Telf1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Llief']"
										},
										"sink": {
											"name": "Llief",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kunnr']"
										},
										"sink": {
											"name": "Kunnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Konnr']"
										},
										"sink": {
											"name": "Konnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Abgru']"
										},
										"sink": {
											"name": "Abgru",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Autlf']"
										},
										"sink": {
											"name": "Autlf",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Weakt']"
										},
										"sink": {
											"name": "Weakt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Reswk']"
										},
										"sink": {
											"name": "Reswk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lblif']"
										},
										"sink": {
											"name": "Lblif",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inco1']"
										},
										"sink": {
											"name": "Inco1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inco2']"
										},
										"sink": {
											"name": "Inco2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ktwrt']"
										},
										"sink": {
											"name": "Ktwrt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Distributiontype']"
										},
										"sink": {
											"name": "Distributiontype",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Submi']"
										},
										"sink": {
											"name": "Submi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Knumv']"
										},
										"sink": {
											"name": "Knumv",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kalsm']"
										},
										"sink": {
											"name": "Kalsm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stafo']"
										},
										"sink": {
											"name": "Stafo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lifre']"
										},
										"sink": {
											"name": "Lifre",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Exnum']"
										},
										"sink": {
											"name": "Exnum",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Unsez']"
										},
										"sink": {
											"name": "Unsez",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Logsy']"
										},
										"sink": {
											"name": "Logsy",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Upinc']"
										},
										"sink": {
											"name": "Upinc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stako']"
										},
										"sink": {
											"name": "Stako",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Frggr']"
										},
										"sink": {
											"name": "Frggr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Frgsx']"
										},
										"sink": {
											"name": "Frgsx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Frgke']"
										},
										"sink": {
											"name": "Frgke",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Frgzu']"
										},
										"sink": {
											"name": "Frgzu",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Frgrl']"
										},
										"sink": {
											"name": "Frgrl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lands']"
										},
										"sink": {
											"name": "Lands",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lphis']"
										},
										"sink": {
											"name": "Lphis",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Adrnr']"
										},
										"sink": {
											"name": "Adrnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['StcegL']"
										},
										"sink": {
											"name": "StcegL",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stceg']"
										},
										"sink": {
											"name": "Stceg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Absgr']"
										},
										"sink": {
											"name": "Absgr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Addnr']"
										},
										"sink": {
											"name": "Addnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kornr']"
										},
										"sink": {
											"name": "Kornr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Memory']"
										},
										"sink": {
											"name": "Memory",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Procstat']"
										},
										"sink": {
											"name": "Procstat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Rlwrt']"
										},
										"sink": {
											"name": "Rlwrt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Revno']"
										},
										"sink": {
											"name": "Revno",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Scmproc']"
										},
										"sink": {
											"name": "Scmproc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ReasonCode']"
										},
										"sink": {
											"name": "ReasonCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Memorytype']"
										},
										"sink": {
											"name": "Memorytype",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Rettp']"
										},
										"sink": {
											"name": "Rettp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Retpc']"
										},
										"sink": {
											"name": "Retpc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Dptyp']"
										},
										"sink": {
											"name": "Dptyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Dppct']"
										},
										"sink": {
											"name": "Dppct",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Dpamt']"
										},
										"sink": {
											"name": "Dpamt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Dpdat']"
										},
										"sink": {
											"name": "Dpdat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['MsrId']"
										},
										"sink": {
											"name": "MsrId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['HierarchyExists']"
										},
										"sink": {
											"name": "HierarchyExists",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ThresholdExists']"
										},
										"sink": {
											"name": "ThresholdExists",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['LegalContract']"
										},
										"sink": {
											"name": "LegalContract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Description']"
										},
										"sink": {
											"name": "Description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ReleaseDate']"
										},
										"sink": {
											"name": "ReleaseDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vsart']"
										},
										"sink": {
											"name": "Vsart",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Handoverloc']"
										},
										"sink": {
											"name": "Handoverloc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Shipcond']"
										},
										"sink": {
											"name": "Shipcond",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Incov']"
										},
										"sink": {
											"name": "Incov",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inco2L']"
										},
										"sink": {
											"name": "Inco2L",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inco3L']"
										},
										"sink": {
											"name": "Inco3L",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Grwcu']"
										},
										"sink": {
											"name": "Grwcu",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['IntraRel']"
										},
										"sink": {
											"name": "IntraRel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['IntraExcl']"
										},
										"sink": {
											"name": "IntraExcl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['QtnErlstSubmsnDate']"
										},
										"sink": {
											"name": "QtnErlstSubmsnDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FollowonDocCat']"
										},
										"sink": {
											"name": "FollowonDocCat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FollowonDocType']"
										},
										"sink": {
											"name": "FollowonDocType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['DummyEkkoInclEewPs']"
										},
										"sink": {
											"name": "DummyEkkoInclEewPs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Externalsystem']"
										},
										"sink": {
											"name": "Externalsystem",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Externalreferenceid']"
										},
										"sink": {
											"name": "Externalreferenceid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ExtRevTmstmp']"
										},
										"sink": {
											"name": "ExtRevTmstmp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Iseopblocked']"
										},
										"sink": {
											"name": "Iseopblocked",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Isaged']"
										},
										"sink": {
											"name": "Isaged",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ForceId']"
										},
										"sink": {
											"name": "ForceId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ForceCnt']"
										},
										"sink": {
											"name": "ForceCnt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['RelocId']"
										},
										"sink": {
											"name": "RelocId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['RelocSeqId']"
										},
										"sink": {
											"name": "RelocSeqId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SourceLogsys']"
										},
										"sink": {
											"name": "SourceLogsys",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshTransaction']"
										},
										"sink": {
											"name": "FshTransaction",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshItemGroup']"
										},
										"sink": {
											"name": "FshItemGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshVasLastItem']"
										},
										"sink": {
											"name": "FshVasLastItem",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshOsStgChange']"
										},
										"sink": {
											"name": "FshOsStgChange",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['TmsRefUuid']"
										},
										"sink": {
											"name": "TmsRefUuid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zapcgk']"
										},
										"sink": {
											"name": "Zapcgk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ApcgkExtend']"
										},
										"sink": {
											"name": "ApcgkExtend",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ZbasDate']"
										},
										"sink": {
											"name": "ZbasDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zadattyp']"
										},
										"sink": {
											"name": "Zadattyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ZstartDat']"
										},
										"sink": {
											"name": "ZstartDat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ZDev']"
										},
										"sink": {
											"name": "ZDev",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zindanx']"
										},
										"sink": {
											"name": "Zindanx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ZlimitDat']"
										},
										"sink": {
											"name": "ZlimitDat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Numerator']"
										},
										"sink": {
											"name": "Numerator",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['HashcalBdat']"
										},
										"sink": {
											"name": "HashcalBdat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Hashcal']"
										},
										"sink": {
											"name": "Hashcal",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Negative']"
										},
										"sink": {
											"name": "Negative",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['HashcalExists']"
										},
										"sink": {
											"name": "HashcalExists",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['KnownIndex']"
										},
										"sink": {
											"name": "KnownIndex",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Postat']"
										},
										"sink": {
											"name": "Postat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vzskz']"
										},
										"sink": {
											"name": "Vzskz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshSnstStatus']"
										},
										"sink": {
											"name": "FshSnstStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Proce']"
										},
										"sink": {
											"name": "Proce",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Conc']"
										},
										"sink": {
											"name": "Conc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cont']"
										},
										"sink": {
											"name": "Cont",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Comp']"
										},
										"sink": {
											"name": "Comp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Outr']"
										},
										"sink": {
											"name": "Outr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Desp']"
										},
										"sink": {
											"name": "Desp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['DespDat']"
										},
										"sink": {
											"name": "DespDat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['DespCargo']"
										},
										"sink": {
											"name": "DespCargo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pare']"
										},
										"sink": {
											"name": "Pare",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PareDat']"
										},
										"sink": {
											"name": "PareDat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PareCargo']"
										},
										"sink": {
											"name": "PareCargo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PfmContract']"
										},
										"sink": {
											"name": "PfmContract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PohfType']"
										},
										"sink": {
											"name": "PohfType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['EqEindt']"
										},
										"sink": {
											"name": "EqEindt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['EqWerks']"
										},
										"sink": {
											"name": "EqWerks",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Fixpo']"
										},
										"sink": {
											"name": "Fixpo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['EkgrpAllow']"
										},
										"sink": {
											"name": "EkgrpAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['WerksAllow']"
										},
										"sink": {
											"name": "WerksAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ContractAllow']"
										},
										"sink": {
											"name": "ContractAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PstypAllow']"
										},
										"sink": {
											"name": "PstypAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FixpoAllow']"
										},
										"sink": {
											"name": "FixpoAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['KeyIdAllow']"
										},
										"sink": {
											"name": "KeyIdAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['AurelAllow']"
										},
										"sink": {
											"name": "AurelAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['DelperAllow']"
										},
										"sink": {
											"name": "DelperAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['EindtAllow']"
										},
										"sink": {
											"name": "EindtAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['LtsnrAllow']"
										},
										"sink": {
											"name": "LtsnrAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OtbLevel']"
										},
										"sink": {
											"name": "OtbLevel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OtbCondType']"
										},
										"sink": {
											"name": "OtbCondType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['KeyId']"
										},
										"sink": {
											"name": "KeyId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OtbValue']"
										},
										"sink": {
											"name": "OtbValue",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OtbCurr']"
										},
										"sink": {
											"name": "OtbCurr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OtbResValue']"
										},
										"sink": {
											"name": "OtbResValue",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OtbSpecValue']"
										},
										"sink": {
											"name": "OtbSpecValue",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SprRsnProfile']"
										},
										"sink": {
											"name": "SprRsnProfile",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['BudgType']"
										},
										"sink": {
											"name": "BudgType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OtbStatus']"
										},
										"sink": {
											"name": "OtbStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OtbReason']"
										},
										"sink": {
											"name": "OtbReason",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['CheckType']"
										},
										"sink": {
											"name": "CheckType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ConOtbReq']"
										},
										"sink": {
											"name": "ConOtbReq",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ConPrebookLev']"
										},
										"sink": {
											"name": "ConPrebookLev",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ConDistrLev']"
										},
										"sink": {
											"name": "ConDistrLev",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['d']['results']"
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPEKKO",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPEKKO",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SAPEKKO')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPEKKO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPProductPrice')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.218:8081/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPProductPrice",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "10:00:00",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productCategoryCode']"
										},
										"sink": {
											"name": "productCategoryCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitName']"
										},
										"sink": {
											"name": "salesUnitName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicPrice']"
										},
										"sink": {
											"name": "basicPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['planDeliveryDays']"
										},
										"sink": {
											"name": "planDeliveryDays",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updateDate']"
										},
										"sink": {
											"name": "updateDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createDate']"
										},
										"sink": {
											"name": "createDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsn']"
										},
										"sink": {
											"name": "bomsn",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPProductPrice",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPProductPriceParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPProductPrice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@getPastTime(16,'Hour','yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productCategoryCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductLineName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "secondProductLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SecondProductLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnitNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SalesUnitNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnitName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SalesUnitName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicPrice",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "BasicPrice",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "planDeliveryDays",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "PlanDeliveryDays",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "isDangerous",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IsDangerous",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsn",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Bomsn",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CreateDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updateDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "UpdateDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPProductPriceParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPProductPriceDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-02T06:45:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SAPProductPrice')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPProductPriceParquet')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPProductPriceDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SyncS4_SAPDeliveries')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.195:8083/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPDeliveries",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['storageLocation']"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocNo']"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineName']"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemNo']"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemType']"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemTypeName']"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDate']"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryQuantity']"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnit']"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['upperItemBatchNo']"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitQuantity']"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['unitPrice']"
										},
										"sink": {
											"name": "unitPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderAmount']"
										},
										"sink": {
											"name": "orderAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryAmount']"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['storageLocationDesc']"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroupName']"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productTypeName']"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderNo']"
										},
										"sink": {
											"name": "orderNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsign']"
										},
										"sink": {
											"name": "bomsign",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['shipToDealerNo']"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['solidToDealerNo']"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['billingStatus']"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomheaderMaterialNo']"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['plantNo']"
										},
										"sink": {
											"name": "plantNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['batchNo']"
										},
										"sink": {
											"name": "batchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['serialNo']"
										},
										"sink": {
											"name": "serialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryStatus']"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesOrgNo']"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNameZH']"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroup']"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderItemNo']"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitNo']"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productType']"
										},
										"sink": {
											"name": "productType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdDate']"
										},
										"sink": {
											"name": "createdDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdTime']"
										},
										"sink": {
											"name": "createdTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedDate']"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deletionFlag']"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedTime']"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPDeliveries",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPDeliveries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@getPastTime(16,'Hour','yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-21T08:04:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SAPDeliveries')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPDeliveriesParquet')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPDeliveriesDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SyncS4_SAPDeliveries_To_DW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.195:8083/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPDeliveries",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['storageLocation']"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocNo']"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineName']"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemNo']"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemType']"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemTypeName']"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDate']"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryQuantity']"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnit']"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['upperItemBatchNo']"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitQuantity']"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['unitPrice']"
										},
										"sink": {
											"name": "unitPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderAmount']"
										},
										"sink": {
											"name": "orderAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryAmount']"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['storageLocationDesc']"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroupName']"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productTypeName']"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderNo']"
										},
										"sink": {
											"name": "orderNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsign']"
										},
										"sink": {
											"name": "bomsign",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['shipToDealerNo']"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['solidToDealerNo']"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['billingStatus']"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomheaderMaterialNo']"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['plantNo']"
										},
										"sink": {
											"name": "plantNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['batchNo']"
										},
										"sink": {
											"name": "batchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['serialNo']"
										},
										"sink": {
											"name": "serialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryStatus']"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesOrgNo']"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNameZH']"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroup']"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderItemNo']"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitNo']"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productType']"
										},
										"sink": {
											"name": "productType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdDate']"
										},
										"sink": {
											"name": "createdDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdTime']"
										},
										"sink": {
											"name": "createdTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedDate']"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deletionFlag']"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedTime']"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPDeliveries",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPDeliveries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@getPastTime(16,'Hour','yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-06T08:41:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SAPDeliveries')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPDeliveriesParquet')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPDeliveriesDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SyncS4_SAPDeliveries_pre4hour')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.195:8083/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPDeliveries",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "01:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['storageLocation']"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocNo']"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineName']"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemNo']"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemType']"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemTypeName']"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDate']"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryQuantity']"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnit']"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['upperItemBatchNo']"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitQuantity']"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['unitPrice']"
										},
										"sink": {
											"name": "unitPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderAmount']"
										},
										"sink": {
											"name": "orderAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryAmount']"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['storageLocationDesc']"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroupName']"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productTypeName']"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderNo']"
										},
										"sink": {
											"name": "orderNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsign']"
										},
										"sink": {
											"name": "bomsign",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['shipToDealerNo']"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['solidToDealerNo']"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['billingStatus']"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomheaderMaterialNo']"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['plantNo']"
										},
										"sink": {
											"name": "plantNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['batchNo']"
										},
										"sink": {
											"name": "batchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['serialNo']"
										},
										"sink": {
											"name": "serialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryStatus']"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesOrgNo']"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNameZH']"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroup']"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderItemNo']"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitNo']"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productType']"
										},
										"sink": {
											"name": "productType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdDate']"
										},
										"sink": {
											"name": "createdDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdTime']"
										},
										"sink": {
											"name": "createdTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedDate']"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deletionFlag']"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedTime']"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocTypeNo']"
										},
										"sink": {
											"name": "deliveryDocTypeNo"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPDeliveries_daily",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet_prehour",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPDeliveries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "secondProductLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productLineName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "materialGroupName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productTypeName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "orderNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "orderNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnitNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "isDangerous",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "materialGroup",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "orderItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deletionFlag",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "secondProductLineName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemTypeName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnit",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "unitPrice",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "unitPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "orderAmount",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "orderAmount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "deliveryAmount",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "deliveryDocTypeNo"
										},
										"sink": {
											"name": "deliveryDocTypeNo"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet_prehour",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesDB_pre4hour",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyFromDataLakeToDatabase",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_Fact_S4Deliveries_Get]"
						},
						"linkedServiceName": {
							"referenceName": "Report",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-31T02:09:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SAPDeliveries_daily')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPDeliveriesParquet_prehour')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPDeliveriesDB_pre4hour')]",
				"[concat(variables('factoryId'), '/linkedServices/Report')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPDeliveriesDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Report",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ProductNo",
						"type": "nvarchar"
					},
					{
						"name": "ProductName",
						"type": "nvarchar"
					},
					{
						"name": "ProductCategoryCode",
						"type": "nvarchar"
					},
					{
						"name": "ProductLineCode",
						"type": "nvarchar"
					},
					{
						"name": "ProductLineName",
						"type": "nvarchar"
					},
					{
						"name": "SecondProductLineCode",
						"type": "nvarchar"
					},
					{
						"name": "SalesUnitNo",
						"type": "nvarchar"
					},
					{
						"name": "SalesUnitName",
						"type": "nvarchar"
					},
					{
						"name": "BasicPrice",
						"type": "nvarchar"
					},
					{
						"name": "PlanDeliveryDays",
						"type": "nvarchar"
					},
					{
						"name": "IsDangerous",
						"type": "nvarchar"
					},
					{
						"name": "Bomsn",
						"type": "nvarchar"
					},
					{
						"name": "CreateDate",
						"type": "nvarchar"
					},
					{
						"name": "UpdateDate",
						"type": "nvarchar"
					},
					{
						"name": "InsertTime",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ods",
					"table": "SAPS4Deliveries"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Report')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPDeliveriesDB_pre4hour')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Report",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "shipToDealerNo",
						"type": "nvarchar"
					},
					{
						"name": "solidToDealerNo",
						"type": "nvarchar"
					},
					{
						"name": "deliveryDate",
						"type": "nvarchar"
					},
					{
						"name": "createdDate",
						"type": "nvarchar"
					},
					{
						"name": "createdTime",
						"type": "nvarchar"
					},
					{
						"name": "salesOrgNo",
						"type": "nvarchar"
					},
					{
						"name": "updatedDate",
						"type": "nvarchar"
					},
					{
						"name": "billingStatus",
						"type": "nvarchar"
					},
					{
						"name": "deliveryStatus",
						"type": "nvarchar"
					},
					{
						"name": "deliveryDocNo",
						"type": "nvarchar"
					},
					{
						"name": "deliveryDocItemNo",
						"type": "nvarchar"
					},
					{
						"name": "deliveryDocItemType",
						"type": "nvarchar"
					},
					{
						"name": "productNo",
						"type": "nvarchar"
					},
					{
						"name": "productName",
						"type": "nvarchar"
					},
					{
						"name": "productNameZH",
						"type": "nvarchar"
					},
					{
						"name": "deliveryQuantity",
						"type": "float",
						"precision": 15
					},
					{
						"name": "upperItemBatchNo",
						"type": "nvarchar"
					},
					{
						"name": "basicUnitQuantity",
						"type": "float",
						"precision": 15
					},
					{
						"name": "storageLocation",
						"type": "nvarchar"
					},
					{
						"name": "storageLocationDesc",
						"type": "nvarchar"
					},
					{
						"name": "plantNo",
						"type": "nvarchar"
					},
					{
						"name": "batchNo",
						"type": "nvarchar"
					},
					{
						"name": "serialNo",
						"type": "nvarchar"
					},
					{
						"name": "bomsign",
						"type": "nvarchar"
					},
					{
						"name": "bomheaderMaterialNo",
						"type": "nvarchar"
					},
					{
						"name": "InsertTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ods",
					"table": "SAPS4Deliveries_pre4hour"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Report')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPDeliveriesDW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sysmexdw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ProductNo",
						"type": "nvarchar"
					},
					{
						"name": "ProductName",
						"type": "nvarchar"
					},
					{
						"name": "ProductCategoryCode",
						"type": "nvarchar"
					},
					{
						"name": "ProductLineCode",
						"type": "nvarchar"
					},
					{
						"name": "ProductLineName",
						"type": "nvarchar"
					},
					{
						"name": "SecondProductLineCode",
						"type": "nvarchar"
					},
					{
						"name": "SalesUnitNo",
						"type": "nvarchar"
					},
					{
						"name": "SalesUnitName",
						"type": "nvarchar"
					},
					{
						"name": "BasicPrice",
						"type": "nvarchar"
					},
					{
						"name": "PlanDeliveryDays",
						"type": "nvarchar"
					},
					{
						"name": "IsDangerous",
						"type": "nvarchar"
					},
					{
						"name": "Bomsn",
						"type": "nvarchar"
					},
					{
						"name": "CreateDate",
						"type": "nvarchar"
					},
					{
						"name": "UpdateDate",
						"type": "nvarchar"
					},
					{
						"name": "InsertTime",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ods",
					"table": "SAPS4Deliveries"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sysmexdw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPDeliveriesParquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@getPastTime(16,'Hour','yyyyMMdd')",
							"type": "Expression"
						},
						"folderPath": "SAPDeliveries",
						"fileSystem": "saps4data"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPDeliveriesParquet_OneFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "SAPS4Deliveries",
							"type": "Expression"
						},
						"folderPath": "SAPDeliveries",
						"fileSystem": "saps4data"
					},
					"compressionCodec": "gzip"
				},
				"schema": [
					{
						"name": "storageLocation",
						"type": "UTF8"
					},
					{
						"name": "deliveryDocNo",
						"type": "UTF8"
					},
					{
						"name": "secondProductLineName",
						"type": "UTF8"
					},
					{
						"name": "deliveryDocItemNo",
						"type": "UTF8"
					},
					{
						"name": "deliveryDocItemType",
						"type": "UTF8"
					},
					{
						"name": "deliveryDocItemTypeName",
						"type": "UTF8"
					},
					{
						"name": "deliveryDate",
						"type": "UTF8"
					},
					{
						"name": "deliveryQuantity",
						"type": "UTF8"
					},
					{
						"name": "salesUnit",
						"type": "UTF8"
					},
					{
						"name": "upperItemBatchNo",
						"type": "UTF8"
					},
					{
						"name": "basicUnitQuantity",
						"type": "UTF8"
					},
					{
						"name": "unitPrice",
						"type": "UTF8"
					},
					{
						"name": "orderAmount",
						"type": "UTF8"
					},
					{
						"name": "deliveryAmount",
						"type": "UTF8"
					},
					{
						"name": "secondProductLineCode",
						"type": "UTF8"
					},
					{
						"name": "productNo",
						"type": "UTF8"
					},
					{
						"name": "productName",
						"type": "UTF8"
					},
					{
						"name": "productLineName",
						"type": "UTF8"
					},
					{
						"name": "storageLocationDesc",
						"type": "UTF8"
					},
					{
						"name": "materialGroupName",
						"type": "UTF8"
					},
					{
						"name": "productTypeName",
						"type": "UTF8"
					},
					{
						"name": "orderNo",
						"type": "UTF8"
					},
					{
						"name": "bomsign",
						"type": "UTF8"
					},
					{
						"name": "shipToDealerNo",
						"type": "UTF8"
					},
					{
						"name": "solidToDealerNo",
						"type": "UTF8"
					},
					{
						"name": "billingStatus",
						"type": "UTF8"
					},
					{
						"name": "bomheaderMaterialNo",
						"type": "UTF8"
					},
					{
						"name": "plantNo",
						"type": "UTF8"
					},
					{
						"name": "batchNo",
						"type": "UTF8"
					},
					{
						"name": "serialNo",
						"type": "UTF8"
					},
					{
						"name": "deliveryStatus",
						"type": "UTF8"
					},
					{
						"name": "productLineCode",
						"type": "UTF8"
					},
					{
						"name": "salesUnitNo",
						"type": "UTF8"
					},
					{
						"name": "isDangerous",
						"type": "UTF8"
					},
					{
						"name": "salesOrgNo",
						"type": "UTF8"
					},
					{
						"name": "productNameZH",
						"type": "UTF8"
					},
					{
						"name": "materialGroup",
						"type": "UTF8"
					},
					{
						"name": "orderItemNo",
						"type": "UTF8"
					},
					{
						"name": "basicUnitNo",
						"type": "UTF8"
					},
					{
						"name": "productType",
						"type": "UTF8"
					},
					{
						"name": "createdDate",
						"type": "UTF8"
					},
					{
						"name": "createdTime",
						"type": "UTF8"
					},
					{
						"name": "updatedDate",
						"type": "UTF8"
					},
					{
						"name": "deletionFlag",
						"type": "UTF8"
					},
					{
						"name": "updatedTime",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPDeliveriesParquet_prehour')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@getPastTime(16,'Hour','yyyyMMddhh')",
							"type": "Expression"
						},
						"folderPath": "SAPDeliveries",
						"fileSystem": "saps4data"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPEKKO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "EKKO",
							"type": "Expression"
						},
						"folderPath": "OData",
						"fileSystem": "saps4data"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPEKKO_DB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sysmexdw",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Mandt",
						"type": "nvarchar"
					},
					{
						"name": "Ebeln",
						"type": "nvarchar"
					},
					{
						"name": "Bukrs",
						"type": "nvarchar"
					},
					{
						"name": "Bstyp",
						"type": "nvarchar"
					},
					{
						"name": "Bsart",
						"type": "nvarchar"
					},
					{
						"name": "Bsakz",
						"type": "nvarchar"
					},
					{
						"name": "Loekz",
						"type": "nvarchar"
					},
					{
						"name": "Statu",
						"type": "nvarchar"
					},
					{
						"name": "Aedat",
						"type": "nvarchar"
					},
					{
						"name": "Ernam",
						"type": "nvarchar"
					},
					{
						"name": "Lastchangedatetime",
						"type": "nvarchar"
					},
					{
						"name": "Pincr",
						"type": "nvarchar"
					},
					{
						"name": "Lponr",
						"type": "nvarchar"
					},
					{
						"name": "Lifnr",
						"type": "nvarchar"
					},
					{
						"name": "Spras",
						"type": "nvarchar"
					},
					{
						"name": "Zterm",
						"type": "nvarchar"
					},
					{
						"name": "Zbd1t",
						"type": "nvarchar"
					},
					{
						"name": "Zbd2t",
						"type": "nvarchar"
					},
					{
						"name": "Zbd3t",
						"type": "nvarchar"
					},
					{
						"name": "Zbd1p",
						"type": "nvarchar"
					},
					{
						"name": "Zbd2p",
						"type": "nvarchar"
					},
					{
						"name": "Ekorg",
						"type": "nvarchar"
					},
					{
						"name": "Ekgrp",
						"type": "nvarchar"
					},
					{
						"name": "Waers",
						"type": "nvarchar"
					},
					{
						"name": "Wkurs",
						"type": "nvarchar"
					},
					{
						"name": "Kufix",
						"type": "nvarchar"
					},
					{
						"name": "Bedat",
						"type": "nvarchar"
					},
					{
						"name": "Kdatb",
						"type": "nvarchar"
					},
					{
						"name": "Kdate",
						"type": "nvarchar"
					},
					{
						"name": "Bwbdt",
						"type": "nvarchar"
					},
					{
						"name": "Angdt",
						"type": "nvarchar"
					},
					{
						"name": "Bnddt",
						"type": "nvarchar"
					},
					{
						"name": "Gwldt",
						"type": "nvarchar"
					},
					{
						"name": "Ausnr",
						"type": "nvarchar"
					},
					{
						"name": "Angnr",
						"type": "nvarchar"
					},
					{
						"name": "Ihran",
						"type": "nvarchar"
					},
					{
						"name": "Ihrez",
						"type": "nvarchar"
					},
					{
						"name": "Verkf",
						"type": "nvarchar"
					},
					{
						"name": "Telf1",
						"type": "nvarchar"
					},
					{
						"name": "Llief",
						"type": "nvarchar"
					},
					{
						"name": "Kunnr",
						"type": "nvarchar"
					},
					{
						"name": "Konnr",
						"type": "nvarchar"
					},
					{
						"name": "Abgru",
						"type": "nvarchar"
					},
					{
						"name": "Autlf",
						"type": "nvarchar"
					},
					{
						"name": "Weakt",
						"type": "nvarchar"
					},
					{
						"name": "Reswk",
						"type": "nvarchar"
					},
					{
						"name": "Lblif",
						"type": "nvarchar"
					},
					{
						"name": "Inco1",
						"type": "nvarchar"
					},
					{
						"name": "Inco2",
						"type": "nvarchar"
					},
					{
						"name": "Ktwrt",
						"type": "nvarchar"
					},
					{
						"name": "Distributiontype",
						"type": "nvarchar"
					},
					{
						"name": "Submi",
						"type": "nvarchar"
					},
					{
						"name": "Knumv",
						"type": "nvarchar"
					},
					{
						"name": "Kalsm",
						"type": "nvarchar"
					},
					{
						"name": "Stafo",
						"type": "nvarchar"
					},
					{
						"name": "Lifre",
						"type": "nvarchar"
					},
					{
						"name": "Exnum",
						"type": "nvarchar"
					},
					{
						"name": "Unsez",
						"type": "nvarchar"
					},
					{
						"name": "Logsy",
						"type": "nvarchar"
					},
					{
						"name": "Upinc",
						"type": "nvarchar"
					},
					{
						"name": "Stako",
						"type": "nvarchar"
					},
					{
						"name": "Frggr",
						"type": "nvarchar"
					},
					{
						"name": "Frgsx",
						"type": "nvarchar"
					},
					{
						"name": "Frgke",
						"type": "nvarchar"
					},
					{
						"name": "Frgzu",
						"type": "nvarchar"
					},
					{
						"name": "Frgrl",
						"type": "nvarchar"
					},
					{
						"name": "Lands",
						"type": "nvarchar"
					},
					{
						"name": "Lphis",
						"type": "nvarchar"
					},
					{
						"name": "Adrnr",
						"type": "nvarchar"
					},
					{
						"name": "StcegL",
						"type": "nvarchar"
					},
					{
						"name": "Stceg",
						"type": "nvarchar"
					},
					{
						"name": "Absgr",
						"type": "nvarchar"
					},
					{
						"name": "Addnr",
						"type": "nvarchar"
					},
					{
						"name": "Kornr",
						"type": "nvarchar"
					},
					{
						"name": "Memory",
						"type": "nvarchar"
					},
					{
						"name": "Procstat",
						"type": "nvarchar"
					},
					{
						"name": "Rlwrt",
						"type": "nvarchar"
					},
					{
						"name": "Revno",
						"type": "nvarchar"
					},
					{
						"name": "Scmproc",
						"type": "nvarchar"
					},
					{
						"name": "ReasonCode",
						"type": "nvarchar"
					},
					{
						"name": "Memorytype",
						"type": "nvarchar"
					},
					{
						"name": "Rettp",
						"type": "nvarchar"
					},
					{
						"name": "Retpc",
						"type": "nvarchar"
					},
					{
						"name": "Dptyp",
						"type": "nvarchar"
					},
					{
						"name": "Dppct",
						"type": "nvarchar"
					},
					{
						"name": "Dpamt",
						"type": "nvarchar"
					},
					{
						"name": "Dpdat",
						"type": "nvarchar"
					},
					{
						"name": "MsrId",
						"type": "nvarchar"
					},
					{
						"name": "HierarchyExists",
						"type": "nvarchar"
					},
					{
						"name": "ThresholdExists",
						"type": "nvarchar"
					},
					{
						"name": "LegalContract",
						"type": "nvarchar"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "ReleaseDate",
						"type": "nvarchar"
					},
					{
						"name": "Vsart",
						"type": "nvarchar"
					},
					{
						"name": "Handoverloc",
						"type": "nvarchar"
					},
					{
						"name": "Shipcond",
						"type": "nvarchar"
					},
					{
						"name": "Incov",
						"type": "nvarchar"
					},
					{
						"name": "Inco2L",
						"type": "nvarchar"
					},
					{
						"name": "Inco3L",
						"type": "nvarchar"
					},
					{
						"name": "Grwcu",
						"type": "nvarchar"
					},
					{
						"name": "IntraRel",
						"type": "nvarchar"
					},
					{
						"name": "IntraExcl",
						"type": "nvarchar"
					},
					{
						"name": "QtnErlstSubmsnDate",
						"type": "nvarchar"
					},
					{
						"name": "FollowonDocCat",
						"type": "nvarchar"
					},
					{
						"name": "FollowonDocType",
						"type": "nvarchar"
					},
					{
						"name": "DummyEkkoInclEewPs",
						"type": "nvarchar"
					},
					{
						"name": "Externalsystem",
						"type": "nvarchar"
					},
					{
						"name": "Externalreferenceid",
						"type": "nvarchar"
					},
					{
						"name": "ExtRevTmstmp",
						"type": "nvarchar"
					},
					{
						"name": "Iseopblocked",
						"type": "nvarchar"
					},
					{
						"name": "Isaged",
						"type": "nvarchar"
					},
					{
						"name": "ForceId",
						"type": "nvarchar"
					},
					{
						"name": "ForceCnt",
						"type": "nvarchar"
					},
					{
						"name": "RelocId",
						"type": "nvarchar"
					},
					{
						"name": "RelocSeqId",
						"type": "nvarchar"
					},
					{
						"name": "SourceLogsys",
						"type": "nvarchar"
					},
					{
						"name": "FshTransaction",
						"type": "nvarchar"
					},
					{
						"name": "FshItemGroup",
						"type": "nvarchar"
					},
					{
						"name": "FshVasLastItem",
						"type": "nvarchar"
					},
					{
						"name": "FshOsStgChange",
						"type": "nvarchar"
					},
					{
						"name": "TmsRefUuid",
						"type": "nvarchar"
					},
					{
						"name": "Zapcgk",
						"type": "nvarchar"
					},
					{
						"name": "ApcgkExtend",
						"type": "nvarchar"
					},
					{
						"name": "ZbasDate",
						"type": "nvarchar"
					},
					{
						"name": "Zadattyp",
						"type": "nvarchar"
					},
					{
						"name": "ZstartDat",
						"type": "nvarchar"
					},
					{
						"name": "ZDev",
						"type": "nvarchar"
					},
					{
						"name": "Zindanx",
						"type": "nvarchar"
					},
					{
						"name": "ZlimitDat",
						"type": "nvarchar"
					},
					{
						"name": "Numerator",
						"type": "nvarchar"
					},
					{
						"name": "HashcalBdat",
						"type": "nvarchar"
					},
					{
						"name": "Hashcal",
						"type": "nvarchar"
					},
					{
						"name": "Negative",
						"type": "nvarchar"
					},
					{
						"name": "HashcalExists",
						"type": "nvarchar"
					},
					{
						"name": "KnownIndex",
						"type": "nvarchar"
					},
					{
						"name": "Postat",
						"type": "nvarchar"
					},
					{
						"name": "Vzskz",
						"type": "nvarchar"
					},
					{
						"name": "FshSnstStatus",
						"type": "nvarchar"
					},
					{
						"name": "Proce",
						"type": "nvarchar"
					},
					{
						"name": "Conc",
						"type": "nvarchar"
					},
					{
						"name": "Cont",
						"type": "nvarchar"
					},
					{
						"name": "Comp",
						"type": "nvarchar"
					},
					{
						"name": "Outr",
						"type": "nvarchar"
					},
					{
						"name": "Desp",
						"type": "nvarchar"
					},
					{
						"name": "DespDat",
						"type": "nvarchar"
					},
					{
						"name": "DespCargo",
						"type": "nvarchar"
					},
					{
						"name": "Pare",
						"type": "nvarchar"
					},
					{
						"name": "PareDat",
						"type": "nvarchar"
					},
					{
						"name": "PareCargo",
						"type": "nvarchar"
					},
					{
						"name": "PfmContract",
						"type": "nvarchar"
					},
					{
						"name": "PohfType",
						"type": "nvarchar"
					},
					{
						"name": "EqEindt",
						"type": "nvarchar"
					},
					{
						"name": "EqWerks",
						"type": "nvarchar"
					},
					{
						"name": "Fixpo",
						"type": "nvarchar"
					},
					{
						"name": "EkgrpAllow",
						"type": "nvarchar"
					},
					{
						"name": "WerksAllow",
						"type": "nvarchar"
					},
					{
						"name": "ContractAllow",
						"type": "nvarchar"
					},
					{
						"name": "PstypAllow",
						"type": "nvarchar"
					},
					{
						"name": "FixpoAllow",
						"type": "nvarchar"
					},
					{
						"name": "KeyIdAllow",
						"type": "nvarchar"
					},
					{
						"name": "AurelAllow",
						"type": "nvarchar"
					},
					{
						"name": "DelperAllow",
						"type": "nvarchar"
					},
					{
						"name": "EindtAllow",
						"type": "nvarchar"
					},
					{
						"name": "LtsnrAllow",
						"type": "nvarchar"
					},
					{
						"name": "OtbLevel",
						"type": "nvarchar"
					},
					{
						"name": "OtbCondType",
						"type": "nvarchar"
					},
					{
						"name": "KeyId",
						"type": "nvarchar"
					},
					{
						"name": "OtbValue",
						"type": "nvarchar"
					},
					{
						"name": "OtbCurr",
						"type": "nvarchar"
					},
					{
						"name": "OtbResValue",
						"type": "nvarchar"
					},
					{
						"name": "OtbSpecValue",
						"type": "nvarchar"
					},
					{
						"name": "SprRsnProfile",
						"type": "nvarchar"
					},
					{
						"name": "BudgType",
						"type": "nvarchar"
					},
					{
						"name": "OtbStatus",
						"type": "nvarchar"
					},
					{
						"name": "OtbReason",
						"type": "nvarchar"
					},
					{
						"name": "CheckType",
						"type": "nvarchar"
					},
					{
						"name": "ConOtbReq",
						"type": "nvarchar"
					},
					{
						"name": "ConPrebookLev",
						"type": "nvarchar"
					},
					{
						"name": "ConDistrLev",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "sap",
					"table": "EKKO"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sysmexdw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPProductPriceDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Report",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ProductNo",
						"type": "nvarchar"
					},
					{
						"name": "ProductName",
						"type": "nvarchar"
					},
					{
						"name": "ProductCategoryCode",
						"type": "nvarchar"
					},
					{
						"name": "ProductLineCode",
						"type": "nvarchar"
					},
					{
						"name": "ProductLineName",
						"type": "nvarchar"
					},
					{
						"name": "SecondProductLineCode",
						"type": "nvarchar"
					},
					{
						"name": "SalesUnitNo",
						"type": "nvarchar"
					},
					{
						"name": "SalesUnitName",
						"type": "nvarchar"
					},
					{
						"name": "BasicPrice",
						"type": "nvarchar"
					},
					{
						"name": "PlanDeliveryDays",
						"type": "nvarchar"
					},
					{
						"name": "IsDangerous",
						"type": "nvarchar"
					},
					{
						"name": "Bomsn",
						"type": "nvarchar"
					},
					{
						"name": "CreateDate",
						"type": "nvarchar"
					},
					{
						"name": "UpdateDate",
						"type": "nvarchar"
					},
					{
						"name": "InsertTime",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ods",
					"table": "SAPProductPriceEncrypted"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Report')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPProductPriceParquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@getPastTime(16,'Hour','yyyyMMdd')",
							"type": "Expression"
						},
						"folderPath": "SAPProductPrice",
						"fileSystem": "sapdata"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SAPDeliveries')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceAPIGW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "/v1/sap/s4/bi/GetSAPDeliveries?startDate=20221101&endDate=20221125",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestServiceAPIGW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SAPDeliveries_daily')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceAPIGW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('/v1/sap/s4/bi/GetSAPDeliveries?startDate=',getPastTime(16,'Hour','yyyy'),getPastTime(16,'Hour','MM'),getPastTime(16,'Hour','dd'),'&endDate=',getPastTime(-8,'Hour','yyyy'),getPastTime(-8,'Hour','MM'),getPastTime(-8,'Hour','dd'))",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestServiceAPIGW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SAPEKKO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SAPOData",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "/sap/opu/odata/sap/ZPTP_GBL_API_EKKO_SRV/EKKOSet?sap-client=110&$format=json&$filter=Ebeln eq '4100026484' or Ebeln eq '4100027177'",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SAPOData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SAPProductPrice')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SourceDataset_SAPProductPrice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "/v1/mdg/GetProductListFromSAP",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SourceDataset_SAPProductPrice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLake_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVaultSchBI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVaultSchBI_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Report')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('Report_connectionString')]",
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestServiceAPIGW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestServiceAPIGW_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "selfhosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPOData')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('SAPOData_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('SAPOData_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SAPOData_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SAPProductPrice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('SourceDataset_SAPProductPrice_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "selfhosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sysmexdw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('sysmexdw_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/per4hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SyncS4_SAPDeliveries_pre4hour",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 4,
						"startTime": "2022-12-21T23:57:00",
						"timeZone": "China Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SyncS4_SAPDeliveries_pre4hour')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/selfhosted')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('selfhosted_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		}
	]
}