sysmexdatafactoryencrypted/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "sysmexdatafactoryencrypted"
		},
		"AzureDataLake_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLake'"
		},
		"Report_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Report'"
		},
		"SAPOData_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SAPOData'"
		},
		"sysmexdw_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sysmexdw'"
		},
		"AzureDataLake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sysmexstorage.dfs.core.chinacloudapi.cn/"
		},
		"AzureKeyVaultSchBI_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://schpowerbi.vault.azure.cn/"
		},
		"RestServiceAPIGW_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://10.40.20.195:8083"
		},
		"SAPOData_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://vhsmxsjpci.hec.jp.sysmex.biz:8000"
		},
		"SAPOData_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "OData"
		},
		"SourceDataset_SAPProductPrice_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://10.40.20.218:8081"
		},
		"selfhosted_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/f380de5b-8c2e-49a9-b019-e89b4bf45b71/resourcegroups/powerbi/providers/Microsoft.DataFactory/factories/sysmexfactory/integrationruntimes/selfhosted"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PurchaseDataExtraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyEKKOData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPEKKO",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPEKKO",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SAPEKKO')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPEKKO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPProductPrice')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.218:8081/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPProductPrice",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "10:00:00",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productCategoryCode']"
										},
										"sink": {
											"name": "productCategoryCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitName']"
										},
										"sink": {
											"name": "salesUnitName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicPrice']"
										},
										"sink": {
											"name": "basicPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['planDeliveryDays']"
										},
										"sink": {
											"name": "planDeliveryDays",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updateDate']"
										},
										"sink": {
											"name": "updateDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createDate']"
										},
										"sink": {
											"name": "createDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsn']"
										},
										"sink": {
											"name": "bomsn",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPProductPrice",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPProductPriceParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPProductPrice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@getPastTime(16,'Hour','yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productCategoryCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductLineName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "secondProductLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SecondProductLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnitNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SalesUnitNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnitName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SalesUnitName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicPrice",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "BasicPrice",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "planDeliveryDays",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "PlanDeliveryDays",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "isDangerous",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IsDangerous",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsn",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Bomsn",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CreateDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updateDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "UpdateDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPProductPriceParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPProductPriceDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-02T06:45:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SAPProductPrice')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPProductPriceParquet')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPProductPriceDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SyncS4_SAPDeliveries')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.195:8083/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPDeliveries",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['storageLocation']"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocNo']"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineName']"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemNo']"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemType']"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemTypeName']"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDate']"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryQuantity']"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnit']"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['upperItemBatchNo']"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitQuantity']"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['unitPrice']"
										},
										"sink": {
											"name": "unitPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderAmount']"
										},
										"sink": {
											"name": "orderAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryAmount']"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['storageLocationDesc']"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroupName']"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productTypeName']"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderNo']"
										},
										"sink": {
											"name": "orderNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsign']"
										},
										"sink": {
											"name": "bomsign",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['shipToDealerNo']"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['solidToDealerNo']"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['billingStatus']"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomheaderMaterialNo']"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['plantNo']"
										},
										"sink": {
											"name": "plantNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['batchNo']"
										},
										"sink": {
											"name": "batchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['serialNo']"
										},
										"sink": {
											"name": "serialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryStatus']"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesOrgNo']"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNameZH']"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroup']"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderItemNo']"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitNo']"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productType']"
										},
										"sink": {
											"name": "productType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdDate']"
										},
										"sink": {
											"name": "createdDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdTime']"
										},
										"sink": {
											"name": "createdTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedDate']"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deletionFlag']"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedTime']"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPDeliveries",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPDeliveries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@getPastTime(16,'Hour','yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-21T08:04:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SAPDeliveries')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPDeliveriesParquet')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPDeliveriesDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SyncS4_SAPDeliveries_To_DW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.195:8083/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPDeliveries",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['storageLocation']"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocNo']"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineName']"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemNo']"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemType']"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemTypeName']"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDate']"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryQuantity']"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnit']"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['upperItemBatchNo']"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitQuantity']"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['unitPrice']"
										},
										"sink": {
											"name": "unitPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderAmount']"
										},
										"sink": {
											"name": "orderAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryAmount']"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['storageLocationDesc']"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroupName']"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productTypeName']"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderNo']"
										},
										"sink": {
											"name": "orderNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsign']"
										},
										"sink": {
											"name": "bomsign",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['shipToDealerNo']"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['solidToDealerNo']"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['billingStatus']"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomheaderMaterialNo']"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['plantNo']"
										},
										"sink": {
											"name": "plantNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['batchNo']"
										},
										"sink": {
											"name": "batchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['serialNo']"
										},
										"sink": {
											"name": "serialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryStatus']"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesOrgNo']"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNameZH']"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroup']"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderItemNo']"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitNo']"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productType']"
										},
										"sink": {
											"name": "productType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdDate']"
										},
										"sink": {
											"name": "createdDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdTime']"
										},
										"sink": {
											"name": "createdTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedDate']"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deletionFlag']"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedTime']"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPDeliveries",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPDeliveries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@getPastTime(16,'Hour','yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-06T08:41:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SAPDeliveries')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPDeliveriesParquet')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPDeliveriesDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SyncS4_SAPDeliveries_pre4hour')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.195:8083/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPDeliveries",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "01:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['storageLocation']"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocNo']"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineName']"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemNo']"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemType']"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemTypeName']"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDate']"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryQuantity']"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnit']"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['upperItemBatchNo']"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitQuantity']"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['unitPrice']"
										},
										"sink": {
											"name": "unitPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderAmount']"
										},
										"sink": {
											"name": "orderAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryAmount']"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['storageLocationDesc']"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroupName']"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productTypeName']"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderNo']"
										},
										"sink": {
											"name": "orderNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsign']"
										},
										"sink": {
											"name": "bomsign",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['shipToDealerNo']"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['solidToDealerNo']"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['billingStatus']"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomheaderMaterialNo']"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['plantNo']"
										},
										"sink": {
											"name": "plantNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['batchNo']"
										},
										"sink": {
											"name": "batchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['serialNo']"
										},
										"sink": {
											"name": "serialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryStatus']"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesOrgNo']"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNameZH']"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroup']"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderItemNo']"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitNo']"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productType']"
										},
										"sink": {
											"name": "productType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdDate']"
										},
										"sink": {
											"name": "createdDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdTime']"
										},
										"sink": {
											"name": "createdTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedDate']"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deletionFlag']"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedTime']"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocTypeNo']"
										},
										"sink": {
											"name": "deliveryDocTypeNo"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPDeliveries_daily",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet_prehour",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPDeliveries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "secondProductLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productLineName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "materialGroupName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productTypeName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "orderNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "orderNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnitNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "isDangerous",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "materialGroup",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "orderItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deletionFlag",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "secondProductLineName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemTypeName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnit",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "unitPrice",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "unitPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "orderAmount",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "orderAmount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "deliveryAmount",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "deliveryDocTypeNo"
										},
										"sink": {
											"name": "deliveryDocTypeNo"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet_prehour",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesDB_pre4hour",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyFromDataLakeToDatabase",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_Fact_S4Deliveries_Get]"
						},
						"linkedServiceName": {
							"referenceName": "Report",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-31T02:09:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SAPDeliveries_daily')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPDeliveriesParquet_prehour')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_SAPDeliveriesDB_pre4hour')]",
				"[concat(variables('factoryId'), '/linkedServices/Report')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPDeliveriesDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Report",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ProductNo",
						"type": "nvarchar"
					},
					{
						"name": "ProductName",
						"type": "nvarchar"
					},
					{
						"name": "ProductCategoryCode",
						"type": "nvarchar"
					},
					{
						"name": "ProductLineCode",
						"type": "nvarchar"
					},
					{
						"name": "ProductLineName",
						"type": "nvarchar"
					},
					{
						"name": "SecondProductLineCode",
						"type": "nvarchar"
					},
					{
						"name": "SalesUnitNo",
						"type": "nvarchar"
					},
					{
						"name": "SalesUnitName",
						"type": "nvarchar"
					},
					{
						"name": "BasicPrice",
						"type": "nvarchar"
					},
					{
						"name": "PlanDeliveryDays",
						"type": "nvarchar"
					},
					{
						"name": "IsDangerous",
						"type": "nvarchar"
					},
					{
						"name": "Bomsn",
						"type": "nvarchar"
					},
					{
						"name": "CreateDate",
						"type": "nvarchar"
					},
					{
						"name": "UpdateDate",
						"type": "nvarchar"
					},
					{
						"name": "InsertTime",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ods",
					"table": "SAPS4Deliveries"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Report')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPDeliveriesDB_pre4hour')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Report",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "shipToDealerNo",
						"type": "nvarchar"
					},
					{
						"name": "solidToDealerNo",
						"type": "nvarchar"
					},
					{
						"name": "deliveryDate",
						"type": "nvarchar"
					},
					{
						"name": "createdDate",
						"type": "nvarchar"
					},
					{
						"name": "createdTime",
						"type": "nvarchar"
					},
					{
						"name": "salesOrgNo",
						"type": "nvarchar"
					},
					{
						"name": "updatedDate",
						"type": "nvarchar"
					},
					{
						"name": "billingStatus",
						"type": "nvarchar"
					},
					{
						"name": "deliveryStatus",
						"type": "nvarchar"
					},
					{
						"name": "deliveryDocNo",
						"type": "nvarchar"
					},
					{
						"name": "deliveryDocItemNo",
						"type": "nvarchar"
					},
					{
						"name": "deliveryDocItemType",
						"type": "nvarchar"
					},
					{
						"name": "productNo",
						"type": "nvarchar"
					},
					{
						"name": "productName",
						"type": "nvarchar"
					},
					{
						"name": "productNameZH",
						"type": "nvarchar"
					},
					{
						"name": "deliveryQuantity",
						"type": "float",
						"precision": 15
					},
					{
						"name": "upperItemBatchNo",
						"type": "nvarchar"
					},
					{
						"name": "basicUnitQuantity",
						"type": "float",
						"precision": 15
					},
					{
						"name": "storageLocation",
						"type": "nvarchar"
					},
					{
						"name": "storageLocationDesc",
						"type": "nvarchar"
					},
					{
						"name": "plantNo",
						"type": "nvarchar"
					},
					{
						"name": "batchNo",
						"type": "nvarchar"
					},
					{
						"name": "serialNo",
						"type": "nvarchar"
					},
					{
						"name": "bomsign",
						"type": "nvarchar"
					},
					{
						"name": "bomheaderMaterialNo",
						"type": "nvarchar"
					},
					{
						"name": "InsertTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ods",
					"table": "SAPS4Deliveries_pre4hour"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Report')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPDeliveriesDW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sysmexdw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ProductNo",
						"type": "nvarchar"
					},
					{
						"name": "ProductName",
						"type": "nvarchar"
					},
					{
						"name": "ProductCategoryCode",
						"type": "nvarchar"
					},
					{
						"name": "ProductLineCode",
						"type": "nvarchar"
					},
					{
						"name": "ProductLineName",
						"type": "nvarchar"
					},
					{
						"name": "SecondProductLineCode",
						"type": "nvarchar"
					},
					{
						"name": "SalesUnitNo",
						"type": "nvarchar"
					},
					{
						"name": "SalesUnitName",
						"type": "nvarchar"
					},
					{
						"name": "BasicPrice",
						"type": "nvarchar"
					},
					{
						"name": "PlanDeliveryDays",
						"type": "nvarchar"
					},
					{
						"name": "IsDangerous",
						"type": "nvarchar"
					},
					{
						"name": "Bomsn",
						"type": "nvarchar"
					},
					{
						"name": "CreateDate",
						"type": "nvarchar"
					},
					{
						"name": "UpdateDate",
						"type": "nvarchar"
					},
					{
						"name": "InsertTime",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ods",
					"table": "SAPS4Deliveries"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sysmexdw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPDeliveriesParquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@getPastTime(16,'Hour','yyyyMMdd')",
							"type": "Expression"
						},
						"folderPath": "SAPDeliveries",
						"fileSystem": "saps4data"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPDeliveriesParquet_OneFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "SAPS4Deliveries",
							"type": "Expression"
						},
						"folderPath": "SAPDeliveries",
						"fileSystem": "saps4data"
					},
					"compressionCodec": "gzip"
				},
				"schema": [
					{
						"name": "storageLocation",
						"type": "UTF8"
					},
					{
						"name": "deliveryDocNo",
						"type": "UTF8"
					},
					{
						"name": "secondProductLineName",
						"type": "UTF8"
					},
					{
						"name": "deliveryDocItemNo",
						"type": "UTF8"
					},
					{
						"name": "deliveryDocItemType",
						"type": "UTF8"
					},
					{
						"name": "deliveryDocItemTypeName",
						"type": "UTF8"
					},
					{
						"name": "deliveryDate",
						"type": "UTF8"
					},
					{
						"name": "deliveryQuantity",
						"type": "UTF8"
					},
					{
						"name": "salesUnit",
						"type": "UTF8"
					},
					{
						"name": "upperItemBatchNo",
						"type": "UTF8"
					},
					{
						"name": "basicUnitQuantity",
						"type": "UTF8"
					},
					{
						"name": "unitPrice",
						"type": "UTF8"
					},
					{
						"name": "orderAmount",
						"type": "UTF8"
					},
					{
						"name": "deliveryAmount",
						"type": "UTF8"
					},
					{
						"name": "secondProductLineCode",
						"type": "UTF8"
					},
					{
						"name": "productNo",
						"type": "UTF8"
					},
					{
						"name": "productName",
						"type": "UTF8"
					},
					{
						"name": "productLineName",
						"type": "UTF8"
					},
					{
						"name": "storageLocationDesc",
						"type": "UTF8"
					},
					{
						"name": "materialGroupName",
						"type": "UTF8"
					},
					{
						"name": "productTypeName",
						"type": "UTF8"
					},
					{
						"name": "orderNo",
						"type": "UTF8"
					},
					{
						"name": "bomsign",
						"type": "UTF8"
					},
					{
						"name": "shipToDealerNo",
						"type": "UTF8"
					},
					{
						"name": "solidToDealerNo",
						"type": "UTF8"
					},
					{
						"name": "billingStatus",
						"type": "UTF8"
					},
					{
						"name": "bomheaderMaterialNo",
						"type": "UTF8"
					},
					{
						"name": "plantNo",
						"type": "UTF8"
					},
					{
						"name": "batchNo",
						"type": "UTF8"
					},
					{
						"name": "serialNo",
						"type": "UTF8"
					},
					{
						"name": "deliveryStatus",
						"type": "UTF8"
					},
					{
						"name": "productLineCode",
						"type": "UTF8"
					},
					{
						"name": "salesUnitNo",
						"type": "UTF8"
					},
					{
						"name": "isDangerous",
						"type": "UTF8"
					},
					{
						"name": "salesOrgNo",
						"type": "UTF8"
					},
					{
						"name": "productNameZH",
						"type": "UTF8"
					},
					{
						"name": "materialGroup",
						"type": "UTF8"
					},
					{
						"name": "orderItemNo",
						"type": "UTF8"
					},
					{
						"name": "basicUnitNo",
						"type": "UTF8"
					},
					{
						"name": "productType",
						"type": "UTF8"
					},
					{
						"name": "createdDate",
						"type": "UTF8"
					},
					{
						"name": "createdTime",
						"type": "UTF8"
					},
					{
						"name": "updatedDate",
						"type": "UTF8"
					},
					{
						"name": "deletionFlag",
						"type": "UTF8"
					},
					{
						"name": "updatedTime",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPDeliveriesParquet_prehour')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@getPastTime(16,'Hour','yyyyMMddhh')",
							"type": "Expression"
						},
						"folderPath": "SAPDeliveries",
						"fileSystem": "saps4data"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPEKKO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "EKKO",
							"type": "Expression"
						},
						"folderPath": "OData",
						"fileSystem": "saps4data"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPProductPriceDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Report",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ProductNo",
						"type": "nvarchar"
					},
					{
						"name": "ProductName",
						"type": "nvarchar"
					},
					{
						"name": "ProductCategoryCode",
						"type": "nvarchar"
					},
					{
						"name": "ProductLineCode",
						"type": "nvarchar"
					},
					{
						"name": "ProductLineName",
						"type": "nvarchar"
					},
					{
						"name": "SecondProductLineCode",
						"type": "nvarchar"
					},
					{
						"name": "SalesUnitNo",
						"type": "nvarchar"
					},
					{
						"name": "SalesUnitName",
						"type": "nvarchar"
					},
					{
						"name": "BasicPrice",
						"type": "nvarchar"
					},
					{
						"name": "PlanDeliveryDays",
						"type": "nvarchar"
					},
					{
						"name": "IsDangerous",
						"type": "nvarchar"
					},
					{
						"name": "Bomsn",
						"type": "nvarchar"
					},
					{
						"name": "CreateDate",
						"type": "nvarchar"
					},
					{
						"name": "UpdateDate",
						"type": "nvarchar"
					},
					{
						"name": "InsertTime",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ods",
					"table": "SAPProductPriceEncrypted"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Report')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_SAPProductPriceParquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@getPastTime(16,'Hour','yyyyMMdd')",
							"type": "Expression"
						},
						"folderPath": "SAPProductPrice",
						"fileSystem": "sapdata"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SAPDeliveries')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceAPIGW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "/v1/sap/s4/bi/GetSAPDeliveries?startDate=20221101&endDate=20221125",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestServiceAPIGW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SAPDeliveries_daily')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceAPIGW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('/v1/sap/s4/bi/GetSAPDeliveries?startDate=',getPastTime(16,'Hour','yyyy'),getPastTime(16,'Hour','MM'),getPastTime(16,'Hour','dd'),'&endDate=',getPastTime(-8,'Hour','yyyy'),getPastTime(-8,'Hour','MM'),getPastTime(-8,'Hour','dd'))",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestServiceAPIGW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SAPEKKO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SAPOData",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "/sap/opu/odata/sap/ZPTP_GBL_API_EKKO_SRV/EKKOSet?sap-client=110&$format=json&$filter=Ebeln eq '4100026484'",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SAPOData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SAPProductPrice')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SourceDataset_SAPProductPrice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "/v1/mdg/GetProductListFromSAP",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SourceDataset_SAPProductPrice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLake_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVaultSchBI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVaultSchBI_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Report')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('Report_connectionString')]",
					"alwaysEncryptedSettings": {
						"alwaysEncryptedAkvAuthType": "ManagedIdentity"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestServiceAPIGW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestServiceAPIGW_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "selfhosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPOData')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('SAPOData_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('SAPOData_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SAPOData_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SAPProductPrice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('SourceDataset_SAPProductPrice_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "selfhosted",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhosted')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sysmexdw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('sysmexdw_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/per4hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SyncS4_SAPDeliveries_pre4hour",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 4,
						"startTime": "2022-12-21T23:57:00",
						"timeZone": "China Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SyncS4_SAPDeliveries_pre4hour')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/selfhosted')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('selfhosted_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		}
	]
}