pipeline/SyncS4_SAPDeliveries_To_DW.json
{
	"name": "SyncS4_SAPDeliveries_To_DW",
	"properties": {
		"activities": [
			{
				"name": "GetAccessToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://10.40.20.195:8083/Auth/GetAccessToken?systemNo=bi",
					"connectVia": {
						"referenceName": "selfhosted",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET"
				}
			},
			{
				"name": "SetAccessToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetAccessToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "AccessToken",
					"value": {
						"value": "@activity('GetAccessToken').output.Response",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CopySAPDeliveries",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetAccessToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"accessToken": {
								"value": "@variables('AccessToken')",
								"type": "Expression"
							},
							"env": "Production"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['storageLocation']"
								},
								"sink": {
									"name": "storageLocation",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['deliveryDocNo']"
								},
								"sink": {
									"name": "deliveryDocNo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['secondProductLineName']"
								},
								"sink": {
									"name": "secondProductLineName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['deliveryDocItemNo']"
								},
								"sink": {
									"name": "deliveryDocItemNo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['deliveryDocItemType']"
								},
								"sink": {
									"name": "deliveryDocItemType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['deliveryDocItemTypeName']"
								},
								"sink": {
									"name": "deliveryDocItemTypeName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['deliveryDate']"
								},
								"sink": {
									"name": "deliveryDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['deliveryQuantity']"
								},
								"sink": {
									"name": "deliveryQuantity",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['salesUnit']"
								},
								"sink": {
									"name": "salesUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['upperItemBatchNo']"
								},
								"sink": {
									"name": "upperItemBatchNo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['basicUnitQuantity']"
								},
								"sink": {
									"name": "basicUnitQuantity",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['unitPrice']"
								},
								"sink": {
									"name": "unitPrice",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['orderAmount']"
								},
								"sink": {
									"name": "orderAmount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['deliveryAmount']"
								},
								"sink": {
									"name": "deliveryAmount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['secondProductLineCode']"
								},
								"sink": {
									"name": "secondProductLineCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['productNo']"
								},
								"sink": {
									"name": "productNo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['productName']"
								},
								"sink": {
									"name": "productName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['productLineName']"
								},
								"sink": {
									"name": "productLineName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['storageLocationDesc']"
								},
								"sink": {
									"name": "storageLocationDesc",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['materialGroupName']"
								},
								"sink": {
									"name": "materialGroupName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['productTypeName']"
								},
								"sink": {
									"name": "productTypeName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['orderNo']"
								},
								"sink": {
									"name": "orderNo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['bomsign']"
								},
								"sink": {
									"name": "bomsign",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['shipToDealerNo']"
								},
								"sink": {
									"name": "shipToDealerNo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['solidToDealerNo']"
								},
								"sink": {
									"name": "solidToDealerNo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['billingStatus']"
								},
								"sink": {
									"name": "billingStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['bomheaderMaterialNo']"
								},
								"sink": {
									"name": "bomheaderMaterialNo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['plantNo']"
								},
								"sink": {
									"name": "plantNo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['batchNo']"
								},
								"sink": {
									"name": "batchNo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['serialNo']"
								},
								"sink": {
									"name": "serialNo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['deliveryStatus']"
								},
								"sink": {
									"name": "deliveryStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['productLineCode']"
								},
								"sink": {
									"name": "productLineCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['salesUnitNo']"
								},
								"sink": {
									"name": "salesUnitNo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['isDangerous']"
								},
								"sink": {
									"name": "isDangerous",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['salesOrgNo']"
								},
								"sink": {
									"name": "salesOrgNo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['productNameZH']"
								},
								"sink": {
									"name": "productNameZH",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['materialGroup']"
								},
								"sink": {
									"name": "materialGroup",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['orderItemNo']"
								},
								"sink": {
									"name": "orderItemNo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['basicUnitNo']"
								},
								"sink": {
									"name": "basicUnitNo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['productType']"
								},
								"sink": {
									"name": "productType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['createdDate']"
								},
								"sink": {
									"name": "createdDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['createdTime']"
								},
								"sink": {
									"name": "createdTime",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['updatedDate']"
								},
								"sink": {
									"name": "updatedDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['deletionFlag']"
								},
								"sink": {
									"name": "deletionFlag",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['updatedTime']"
								},
								"sink": {
									"name": "updatedTime",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_SAPDeliveries",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_SAPDeliveriesParquet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CopyFromDataLakeToDatabase",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CopySAPDeliveries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"additionalColumns": [
							{
								"name": "InsertTime",
								"value": {
									"value": "@getPastTime(16,'Hour','yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "shipToDealerNo",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "shipToDealerNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "solidToDealerNo",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "solidToDealerNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "deliveryDate",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "deliveryDate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "createdDate",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "createdDate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "createdTime",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "createdTime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "salesOrgNo",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "salesOrgNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "updatedDate",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "updatedDate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "billingStatus",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "billingStatus",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "deliveryStatus",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "deliveryStatus",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "deliveryDocNo",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "deliveryDocNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "deliveryDocItemNo",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "deliveryDocItemNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "deliveryDocItemType",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "deliveryDocItemType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "productNo",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "productNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "productName",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "productName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "productNameZH",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "productNameZH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "deliveryQuantity",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "deliveryQuantity",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "upperItemBatchNo",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "upperItemBatchNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "basicUnitQuantity",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "basicUnitQuantity",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "storageLocation",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "storageLocation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "storageLocationDesc",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "storageLocationDesc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "plantNo",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "plantNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "batchNo",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "batchNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "serialNo",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "serialNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "bomsign",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "bomsign",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "bomheaderMaterialNo",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "bomheaderMaterialNo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "InsertTime"
								},
								"sink": {
									"name": "InsertTime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DestinationDataset_SAPDeliveriesParquet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_SAPDeliveriesDB",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"AccessToken": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-01-06T08:41:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}