sysmexdatafactoryencrypted/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "sysmexdatafactoryencrypted"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SAPDeliveries_daily')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceAPIGW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('/v1/sap/s4/bi/GetSAPDeliveries?startDate=',getPastTime(16,'Hour','yyyy'),getPastTime(16,'Hour','MM'),getPastTime(16,'Hour','dd'),'&endDate=',getPastTime(-8,'Hour','yyyy'),getPastTime(-8,'Hour','MM'),getPastTime(-8,'Hour','dd'))",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SAPEKKO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SAPOData",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "/sap/opu/odata/sap/ZPTP_GBL_API_EKKO_SRV/EKKOSet?sap-client=110&$format=json",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SAPMBEW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SAPOData",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "/sap/opu/odata/sap/ZPTP_GBL_API_MBEW_SRV/MBEWSet?sap-client=110&$format=json&$filter=Matnr eq '0006143' or Matnr eq '0006039'",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SAPProductPrice')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SourceDataset_SAPProductPrice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "/v1/mdg/GetProductListFromSAP",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PurchaseDataExtraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyEKKOData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Mandt']"
										},
										"sink": {
											"name": "Mandt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ebeln']"
										},
										"sink": {
											"name": "Ebeln",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bukrs']"
										},
										"sink": {
											"name": "Bukrs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bstyp']"
										},
										"sink": {
											"name": "Bstyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bsart']"
										},
										"sink": {
											"name": "Bsart",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bsakz']"
										},
										"sink": {
											"name": "Bsakz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Loekz']"
										},
										"sink": {
											"name": "Loekz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Statu']"
										},
										"sink": {
											"name": "Statu",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Aedat']"
										},
										"sink": {
											"name": "Aedat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ernam']"
										},
										"sink": {
											"name": "Ernam",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lastchangedatetime']"
										},
										"sink": {
											"name": "Lastchangedatetime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pincr']"
										},
										"sink": {
											"name": "Pincr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lponr']"
										},
										"sink": {
											"name": "Lponr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lifnr']"
										},
										"sink": {
											"name": "Lifnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Spras']"
										},
										"sink": {
											"name": "Spras",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zterm']"
										},
										"sink": {
											"name": "Zterm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zbd1t']"
										},
										"sink": {
											"name": "Zbd1t",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zbd2t']"
										},
										"sink": {
											"name": "Zbd2t",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zbd3t']"
										},
										"sink": {
											"name": "Zbd3t",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zbd1p']"
										},
										"sink": {
											"name": "Zbd1p",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zbd2p']"
										},
										"sink": {
											"name": "Zbd2p",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ekorg']"
										},
										"sink": {
											"name": "Ekorg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ekgrp']"
										},
										"sink": {
											"name": "Ekgrp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Waers']"
										},
										"sink": {
											"name": "Waers",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Wkurs']"
										},
										"sink": {
											"name": "Wkurs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kufix']"
										},
										"sink": {
											"name": "Kufix",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bedat']"
										},
										"sink": {
											"name": "Bedat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kdatb']"
										},
										"sink": {
											"name": "Kdatb",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kdate']"
										},
										"sink": {
											"name": "Kdate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bwbdt']"
										},
										"sink": {
											"name": "Bwbdt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Angdt']"
										},
										"sink": {
											"name": "Angdt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bnddt']"
										},
										"sink": {
											"name": "Bnddt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Gwldt']"
										},
										"sink": {
											"name": "Gwldt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ausnr']"
										},
										"sink": {
											"name": "Ausnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Angnr']"
										},
										"sink": {
											"name": "Angnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ihran']"
										},
										"sink": {
											"name": "Ihran",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ihrez']"
										},
										"sink": {
											"name": "Ihrez",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Verkf']"
										},
										"sink": {
											"name": "Verkf",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Telf1']"
										},
										"sink": {
											"name": "Telf1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Llief']"
										},
										"sink": {
											"name": "Llief",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kunnr']"
										},
										"sink": {
											"name": "Kunnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Konnr']"
										},
										"sink": {
											"name": "Konnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Abgru']"
										},
										"sink": {
											"name": "Abgru",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Autlf']"
										},
										"sink": {
											"name": "Autlf",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Weakt']"
										},
										"sink": {
											"name": "Weakt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Reswk']"
										},
										"sink": {
											"name": "Reswk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lblif']"
										},
										"sink": {
											"name": "Lblif",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inco1']"
										},
										"sink": {
											"name": "Inco1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inco2']"
										},
										"sink": {
											"name": "Inco2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ktwrt']"
										},
										"sink": {
											"name": "Ktwrt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Distributiontype']"
										},
										"sink": {
											"name": "Distributiontype",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Submi']"
										},
										"sink": {
											"name": "Submi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Knumv']"
										},
										"sink": {
											"name": "Knumv",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kalsm']"
										},
										"sink": {
											"name": "Kalsm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stafo']"
										},
										"sink": {
											"name": "Stafo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lifre']"
										},
										"sink": {
											"name": "Lifre",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Exnum']"
										},
										"sink": {
											"name": "Exnum",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Unsez']"
										},
										"sink": {
											"name": "Unsez",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Logsy']"
										},
										"sink": {
											"name": "Logsy",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Upinc']"
										},
										"sink": {
											"name": "Upinc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stako']"
										},
										"sink": {
											"name": "Stako",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Frggr']"
										},
										"sink": {
											"name": "Frggr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Frgsx']"
										},
										"sink": {
											"name": "Frgsx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Frgke']"
										},
										"sink": {
											"name": "Frgke",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Frgzu']"
										},
										"sink": {
											"name": "Frgzu",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Frgrl']"
										},
										"sink": {
											"name": "Frgrl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lands']"
										},
										"sink": {
											"name": "Lands",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lphis']"
										},
										"sink": {
											"name": "Lphis",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Adrnr']"
										},
										"sink": {
											"name": "Adrnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['StcegL']"
										},
										"sink": {
											"name": "StcegL",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stceg']"
										},
										"sink": {
											"name": "Stceg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Absgr']"
										},
										"sink": {
											"name": "Absgr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Addnr']"
										},
										"sink": {
											"name": "Addnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kornr']"
										},
										"sink": {
											"name": "Kornr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Memory']"
										},
										"sink": {
											"name": "Memory",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Procstat']"
										},
										"sink": {
											"name": "Procstat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Rlwrt']"
										},
										"sink": {
											"name": "Rlwrt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Revno']"
										},
										"sink": {
											"name": "Revno",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Scmproc']"
										},
										"sink": {
											"name": "Scmproc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ReasonCode']"
										},
										"sink": {
											"name": "ReasonCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Memorytype']"
										},
										"sink": {
											"name": "Memorytype",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Rettp']"
										},
										"sink": {
											"name": "Rettp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Retpc']"
										},
										"sink": {
											"name": "Retpc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Dptyp']"
										},
										"sink": {
											"name": "Dptyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Dppct']"
										},
										"sink": {
											"name": "Dppct",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Dpamt']"
										},
										"sink": {
											"name": "Dpamt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Dpdat']"
										},
										"sink": {
											"name": "Dpdat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['MsrId']"
										},
										"sink": {
											"name": "MsrId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['HierarchyExists']"
										},
										"sink": {
											"name": "HierarchyExists",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ThresholdExists']"
										},
										"sink": {
											"name": "ThresholdExists",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['LegalContract']"
										},
										"sink": {
											"name": "LegalContract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Description']"
										},
										"sink": {
											"name": "Description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ReleaseDate']"
										},
										"sink": {
											"name": "ReleaseDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vsart']"
										},
										"sink": {
											"name": "Vsart",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Handoverloc']"
										},
										"sink": {
											"name": "Handoverloc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Shipcond']"
										},
										"sink": {
											"name": "Shipcond",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Incov']"
										},
										"sink": {
											"name": "Incov",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inco2L']"
										},
										"sink": {
											"name": "Inco2L",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inco3L']"
										},
										"sink": {
											"name": "Inco3L",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Grwcu']"
										},
										"sink": {
											"name": "Grwcu",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['IntraRel']"
										},
										"sink": {
											"name": "IntraRel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['IntraExcl']"
										},
										"sink": {
											"name": "IntraExcl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['QtnErlstSubmsnDate']"
										},
										"sink": {
											"name": "QtnErlstSubmsnDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FollowonDocCat']"
										},
										"sink": {
											"name": "FollowonDocCat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FollowonDocType']"
										},
										"sink": {
											"name": "FollowonDocType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['DummyEkkoInclEewPs']"
										},
										"sink": {
											"name": "DummyEkkoInclEewPs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Externalsystem']"
										},
										"sink": {
											"name": "Externalsystem",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Externalreferenceid']"
										},
										"sink": {
											"name": "Externalreferenceid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ExtRevTmstmp']"
										},
										"sink": {
											"name": "ExtRevTmstmp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Iseopblocked']"
										},
										"sink": {
											"name": "Iseopblocked",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Isaged']"
										},
										"sink": {
											"name": "Isaged",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ForceId']"
										},
										"sink": {
											"name": "ForceId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ForceCnt']"
										},
										"sink": {
											"name": "ForceCnt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['RelocId']"
										},
										"sink": {
											"name": "RelocId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['RelocSeqId']"
										},
										"sink": {
											"name": "RelocSeqId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SourceLogsys']"
										},
										"sink": {
											"name": "SourceLogsys",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshTransaction']"
										},
										"sink": {
											"name": "FshTransaction",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshItemGroup']"
										},
										"sink": {
											"name": "FshItemGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshVasLastItem']"
										},
										"sink": {
											"name": "FshVasLastItem",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshOsStgChange']"
										},
										"sink": {
											"name": "FshOsStgChange",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['TmsRefUuid']"
										},
										"sink": {
											"name": "TmsRefUuid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zapcgk']"
										},
										"sink": {
											"name": "Zapcgk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ApcgkExtend']"
										},
										"sink": {
											"name": "ApcgkExtend",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ZbasDate']"
										},
										"sink": {
											"name": "ZbasDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zadattyp']"
										},
										"sink": {
											"name": "Zadattyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ZstartDat']"
										},
										"sink": {
											"name": "ZstartDat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ZDev']"
										},
										"sink": {
											"name": "ZDev",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zindanx']"
										},
										"sink": {
											"name": "Zindanx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ZlimitDat']"
										},
										"sink": {
											"name": "ZlimitDat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Numerator']"
										},
										"sink": {
											"name": "Numerator",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['HashcalBdat']"
										},
										"sink": {
											"name": "HashcalBdat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Hashcal']"
										},
										"sink": {
											"name": "Hashcal",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Negative']"
										},
										"sink": {
											"name": "Negative",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['HashcalExists']"
										},
										"sink": {
											"name": "HashcalExists",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['KnownIndex']"
										},
										"sink": {
											"name": "KnownIndex",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Postat']"
										},
										"sink": {
											"name": "Postat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vzskz']"
										},
										"sink": {
											"name": "Vzskz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshSnstStatus']"
										},
										"sink": {
											"name": "FshSnstStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Proce']"
										},
										"sink": {
											"name": "Proce",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Conc']"
										},
										"sink": {
											"name": "Conc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cont']"
										},
										"sink": {
											"name": "Cont",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Comp']"
										},
										"sink": {
											"name": "Comp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Outr']"
										},
										"sink": {
											"name": "Outr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Desp']"
										},
										"sink": {
											"name": "Desp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['DespDat']"
										},
										"sink": {
											"name": "DespDat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['DespCargo']"
										},
										"sink": {
											"name": "DespCargo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pare']"
										},
										"sink": {
											"name": "Pare",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PareDat']"
										},
										"sink": {
											"name": "PareDat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PareCargo']"
										},
										"sink": {
											"name": "PareCargo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PfmContract']"
										},
										"sink": {
											"name": "PfmContract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PohfType']"
										},
										"sink": {
											"name": "PohfType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['EqEindt']"
										},
										"sink": {
											"name": "EqEindt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['EqWerks']"
										},
										"sink": {
											"name": "EqWerks",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Fixpo']"
										},
										"sink": {
											"name": "Fixpo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['EkgrpAllow']"
										},
										"sink": {
											"name": "EkgrpAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['WerksAllow']"
										},
										"sink": {
											"name": "WerksAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ContractAllow']"
										},
										"sink": {
											"name": "ContractAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PstypAllow']"
										},
										"sink": {
											"name": "PstypAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FixpoAllow']"
										},
										"sink": {
											"name": "FixpoAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['KeyIdAllow']"
										},
										"sink": {
											"name": "KeyIdAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['AurelAllow']"
										},
										"sink": {
											"name": "AurelAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['DelperAllow']"
										},
										"sink": {
											"name": "DelperAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['EindtAllow']"
										},
										"sink": {
											"name": "EindtAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['LtsnrAllow']"
										},
										"sink": {
											"name": "LtsnrAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OtbLevel']"
										},
										"sink": {
											"name": "OtbLevel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OtbCondType']"
										},
										"sink": {
											"name": "OtbCondType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['KeyId']"
										},
										"sink": {
											"name": "KeyId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OtbValue']"
										},
										"sink": {
											"name": "OtbValue",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OtbCurr']"
										},
										"sink": {
											"name": "OtbCurr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OtbResValue']"
										},
										"sink": {
											"name": "OtbResValue",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OtbSpecValue']"
										},
										"sink": {
											"name": "OtbSpecValue",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SprRsnProfile']"
										},
										"sink": {
											"name": "SprRsnProfile",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['BudgType']"
										},
										"sink": {
											"name": "BudgType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OtbStatus']"
										},
										"sink": {
											"name": "OtbStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OtbReason']"
										},
										"sink": {
											"name": "OtbReason",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['CheckType']"
										},
										"sink": {
											"name": "CheckType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ConOtbReq']"
										},
										"sink": {
											"name": "ConOtbReq",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ConPrebookLev']"
										},
										"sink": {
											"name": "ConPrebookLev",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ConDistrLev']"
										},
										"sink": {
											"name": "ConDistrLev",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['d']['results']"
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPEKKO",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPEKKO_FILE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyMBEWData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Matnr']"
										},
										"sink": {
											"name": "Matnr"
										}
									},
									{
										"source": {
											"path": "[['Bwkey']"
										},
										"sink": {
											"name": "Bwkey"
										}
									},
									{
										"source": {
											"path": "[['Bwtar']"
										},
										"sink": {
											"name": "Bwtar"
										}
									},
									{
										"source": {
											"path": "[['Lvorm']"
										},
										"sink": {
											"name": "Lvorm"
										}
									},
									{
										"source": {
											"path": "[['Lbkum']"
										},
										"sink": {
											"name": "Lbkum"
										}
									},
									{
										"source": {
											"path": "[['Salk3']"
										},
										"sink": {
											"name": "Salk3"
										}
									},
									{
										"source": {
											"path": "[['Vprsv']"
										},
										"sink": {
											"name": "Vprsv"
										}
									},
									{
										"source": {
											"path": "[['Verpr']"
										},
										"sink": {
											"name": "Verpr"
										}
									},
									{
										"source": {
											"path": "[['Stprs']"
										},
										"sink": {
											"name": "Stprs"
										}
									},
									{
										"source": {
											"path": "[['Peinh']"
										},
										"sink": {
											"name": "Peinh"
										}
									},
									{
										"source": {
											"path": "[['Bklas']"
										},
										"sink": {
											"name": "Bklas"
										}
									},
									{
										"source": {
											"path": "[['Salkv']"
										},
										"sink": {
											"name": "Salkv"
										}
									},
									{
										"source": {
											"path": "[['Vmkum']"
										},
										"sink": {
											"name": "Vmkum"
										}
									},
									{
										"source": {
											"path": "[['Vmsal']"
										},
										"sink": {
											"name": "Vmsal"
										}
									},
									{
										"source": {
											"path": "[['Vmvpr']"
										},
										"sink": {
											"name": "Vmvpr"
										}
									},
									{
										"source": {
											"path": "[['Vmver']"
										},
										"sink": {
											"name": "Vmver"
										}
									},
									{
										"source": {
											"path": "[['Vmstp']"
										},
										"sink": {
											"name": "Vmstp"
										}
									},
									{
										"source": {
											"path": "[['Vmpei']"
										},
										"sink": {
											"name": "Vmpei"
										}
									},
									{
										"source": {
											"path": "[['Vmbkl']"
										},
										"sink": {
											"name": "Vmbkl"
										}
									},
									{
										"source": {
											"path": "[['Vmsav']"
										},
										"sink": {
											"name": "Vmsav"
										}
									},
									{
										"source": {
											"path": "[['Vjkum']"
										},
										"sink": {
											"name": "Vjkum"
										}
									},
									{
										"source": {
											"path": "[['Vjsal']"
										},
										"sink": {
											"name": "Vjsal"
										}
									},
									{
										"source": {
											"path": "[['Vjvpr']"
										},
										"sink": {
											"name": "Vjvpr"
										}
									},
									{
										"source": {
											"path": "[['Vjver']"
										},
										"sink": {
											"name": "Vjver"
										}
									},
									{
										"source": {
											"path": "[['Vjstp']"
										},
										"sink": {
											"name": "Vjstp"
										}
									},
									{
										"source": {
											"path": "[['Vjpei']"
										},
										"sink": {
											"name": "Vjpei"
										}
									},
									{
										"source": {
											"path": "[['Vjbkl']"
										},
										"sink": {
											"name": "Vjbkl"
										}
									},
									{
										"source": {
											"path": "[['Vjsav']"
										},
										"sink": {
											"name": "Vjsav"
										}
									},
									{
										"source": {
											"path": "[['Lfgja']"
										},
										"sink": {
											"name": "Lfgja"
										}
									},
									{
										"source": {
											"path": "[['Lfmon']"
										},
										"sink": {
											"name": "Lfmon"
										}
									},
									{
										"source": {
											"path": "[['Bwtty']"
										},
										"sink": {
											"name": "Bwtty"
										}
									},
									{
										"source": {
											"path": "[['Stprv']"
										},
										"sink": {
											"name": "Stprv"
										}
									},
									{
										"source": {
											"path": "[['Laepr']"
										},
										"sink": {
											"name": "Laepr"
										}
									},
									{
										"source": {
											"path": "[['Zkprs']"
										},
										"sink": {
											"name": "Zkprs"
										}
									},
									{
										"source": {
											"path": "[['Zkdat']"
										},
										"sink": {
											"name": "Zkdat"
										}
									},
									{
										"source": {
											"path": "[['Timestamp']"
										},
										"sink": {
											"name": "Timestamp"
										}
									},
									{
										"source": {
											"path": "[['Bwprs']"
										},
										"sink": {
											"name": "Bwprs"
										}
									},
									{
										"source": {
											"path": "[['Bwprh']"
										},
										"sink": {
											"name": "Bwprh"
										}
									},
									{
										"source": {
											"path": "[['Vjbws']"
										},
										"sink": {
											"name": "Vjbws"
										}
									},
									{
										"source": {
											"path": "[['Vjbwh']"
										},
										"sink": {
											"name": "Vjbwh"
										}
									},
									{
										"source": {
											"path": "[['Vvjsl']"
										},
										"sink": {
											"name": "Vvjsl"
										}
									},
									{
										"source": {
											"path": "[['Vvjlb']"
										},
										"sink": {
											"name": "Vvjlb"
										}
									},
									{
										"source": {
											"path": "[['Vvmlb']"
										},
										"sink": {
											"name": "Vvmlb"
										}
									},
									{
										"source": {
											"path": "[['Vvsal']"
										},
										"sink": {
											"name": "Vvsal"
										}
									},
									{
										"source": {
											"path": "[['Zplpr']"
										},
										"sink": {
											"name": "Zplpr"
										}
									},
									{
										"source": {
											"path": "[['Zplp1']"
										},
										"sink": {
											"name": "Zplp1"
										}
									},
									{
										"source": {
											"path": "[['Zplp2']"
										},
										"sink": {
											"name": "Zplp2"
										}
									},
									{
										"source": {
											"path": "[['Zplp3']"
										},
										"sink": {
											"name": "Zplp3"
										}
									},
									{
										"source": {
											"path": "[['Zpld1']"
										},
										"sink": {
											"name": "Zpld1"
										}
									},
									{
										"source": {
											"path": "[['Zpld2']"
										},
										"sink": {
											"name": "Zpld2"
										}
									},
									{
										"source": {
											"path": "[['Zpld3']"
										},
										"sink": {
											"name": "Zpld3"
										}
									},
									{
										"source": {
											"path": "[['Pperz']"
										},
										"sink": {
											"name": "Pperz"
										}
									},
									{
										"source": {
											"path": "[['Pperl']"
										},
										"sink": {
											"name": "Pperl"
										}
									},
									{
										"source": {
											"path": "[['Pperv']"
										},
										"sink": {
											"name": "Pperv"
										}
									},
									{
										"source": {
											"path": "[['Kalkz']"
										},
										"sink": {
											"name": "Kalkz"
										}
									},
									{
										"source": {
											"path": "[['Kalkl']"
										},
										"sink": {
											"name": "Kalkl"
										}
									},
									{
										"source": {
											"path": "[['Kalkv']"
										},
										"sink": {
											"name": "Kalkv"
										}
									},
									{
										"source": {
											"path": "[['Kalsc']"
										},
										"sink": {
											"name": "Kalsc"
										}
									},
									{
										"source": {
											"path": "[['Xlifo']"
										},
										"sink": {
											"name": "Xlifo"
										}
									},
									{
										"source": {
											"path": "[['Mypol']"
										},
										"sink": {
											"name": "Mypol"
										}
									},
									{
										"source": {
											"path": "[['Bwph1']"
										},
										"sink": {
											"name": "Bwph1"
										}
									},
									{
										"source": {
											"path": "[['Bwps1']"
										},
										"sink": {
											"name": "Bwps1"
										}
									},
									{
										"source": {
											"path": "[['Abwkz']"
										},
										"sink": {
											"name": "Abwkz"
										}
									},
									{
										"source": {
											"path": "[['Pstat']"
										},
										"sink": {
											"name": "Pstat"
										}
									},
									{
										"source": {
											"path": "[['Kaln1']"
										},
										"sink": {
											"name": "Kaln1"
										}
									},
									{
										"source": {
											"path": "[['Kalnr']"
										},
										"sink": {
											"name": "Kalnr"
										}
									},
									{
										"source": {
											"path": "[['Bwva1']"
										},
										"sink": {
											"name": "Bwva1"
										}
									},
									{
										"source": {
											"path": "[['Bwva2']"
										},
										"sink": {
											"name": "Bwva2"
										}
									},
									{
										"source": {
											"path": "[['Bwva3']"
										},
										"sink": {
											"name": "Bwva3"
										}
									},
									{
										"source": {
											"path": "[['Vers1']"
										},
										"sink": {
											"name": "Vers1"
										}
									},
									{
										"source": {
											"path": "[['Vers2']"
										},
										"sink": {
											"name": "Vers2"
										}
									},
									{
										"source": {
											"path": "[['Vers3']"
										},
										"sink": {
											"name": "Vers3"
										}
									},
									{
										"source": {
											"path": "[['Hrkft']"
										},
										"sink": {
											"name": "Hrkft"
										}
									},
									{
										"source": {
											"path": "[['Kosgr']"
										},
										"sink": {
											"name": "Kosgr"
										}
									},
									{
										"source": {
											"path": "[['Pprdz']"
										},
										"sink": {
											"name": "Pprdz"
										}
									},
									{
										"source": {
											"path": "[['Pprdl']"
										},
										"sink": {
											"name": "Pprdl"
										}
									},
									{
										"source": {
											"path": "[['Pprdv']"
										},
										"sink": {
											"name": "Pprdv"
										}
									},
									{
										"source": {
											"path": "[['Pdatz']"
										},
										"sink": {
											"name": "Pdatz"
										}
									},
									{
										"source": {
											"path": "[['Pdatl']"
										},
										"sink": {
											"name": "Pdatl"
										}
									},
									{
										"source": {
											"path": "[['Pdatv']"
										},
										"sink": {
											"name": "Pdatv"
										}
									},
									{
										"source": {
											"path": "[['Ekalr']"
										},
										"sink": {
											"name": "Ekalr"
										}
									},
									{
										"source": {
											"path": "[['Vplpr']"
										},
										"sink": {
											"name": "Vplpr"
										}
									},
									{
										"source": {
											"path": "[['Mlmaa']"
										},
										"sink": {
											"name": "Mlmaa"
										}
									},
									{
										"source": {
											"path": "[['Mlast']"
										},
										"sink": {
											"name": "Mlast"
										}
									},
									{
										"source": {
											"path": "[['Lplpr']"
										},
										"sink": {
											"name": "Lplpr"
										}
									},
									{
										"source": {
											"path": "[['Vksal']"
										},
										"sink": {
											"name": "Vksal"
										}
									},
									{
										"source": {
											"path": "[['Hkmat']"
										},
										"sink": {
											"name": "Hkmat"
										}
									},
									{
										"source": {
											"path": "[['Sperw']"
										},
										"sink": {
											"name": "Sperw"
										}
									},
									{
										"source": {
											"path": "[['Kziwl']"
										},
										"sink": {
											"name": "Kziwl"
										}
									},
									{
										"source": {
											"path": "[['Wlinl']"
										},
										"sink": {
											"name": "Wlinl"
										}
									},
									{
										"source": {
											"path": "[['Abciw']"
										},
										"sink": {
											"name": "Abciw"
										}
									},
									{
										"source": {
											"path": "[['Bwspa']"
										},
										"sink": {
											"name": "Bwspa"
										}
									},
									{
										"source": {
											"path": "[['Lplpx']"
										},
										"sink": {
											"name": "Lplpx"
										}
									},
									{
										"source": {
											"path": "[['Vplpx']"
										},
										"sink": {
											"name": "Vplpx"
										}
									},
									{
										"source": {
											"path": "[['Fplpx']"
										},
										"sink": {
											"name": "Fplpx"
										}
									},
									{
										"source": {
											"path": "[['Lbwst']"
										},
										"sink": {
											"name": "Lbwst"
										}
									},
									{
										"source": {
											"path": "[['Vbwst']"
										},
										"sink": {
											"name": "Vbwst"
										}
									},
									{
										"source": {
											"path": "[['Fbwst']"
										},
										"sink": {
											"name": "Fbwst"
										}
									},
									{
										"source": {
											"path": "[['Eklas']"
										},
										"sink": {
											"name": "Eklas"
										}
									},
									{
										"source": {
											"path": "[['Qklas']"
										},
										"sink": {
											"name": "Qklas"
										}
									},
									{
										"source": {
											"path": "[['Mtuse']"
										},
										"sink": {
											"name": "Mtuse"
										}
									},
									{
										"source": {
											"path": "[['Mtorg']"
										},
										"sink": {
											"name": "Mtorg"
										}
									},
									{
										"source": {
											"path": "[['Ownpr']"
										},
										"sink": {
											"name": "Ownpr"
										}
									},
									{
										"source": {
											"path": "[['Xbewm']"
										},
										"sink": {
											"name": "Xbewm"
										}
									},
									{
										"source": {
											"path": "[['Bwpei']"
										},
										"sink": {
											"name": "Bwpei"
										}
									},
									{
										"source": {
											"path": "[['Mbrue']"
										},
										"sink": {
											"name": "Mbrue"
										}
									},
									{
										"source": {
											"path": "[['Oklas']"
										},
										"sink": {
											"name": "Oklas"
										}
									},
									{
										"source": {
											"path": "[['DummyValInclEewPs']"
										},
										"sink": {
											"name": "DummyValInclEewPs"
										}
									},
									{
										"source": {
											"path": "[['Oippinv']"
										},
										"sink": {
											"name": "Oippinv"
										}
									}
								],
								"collectionReference": "$['d']['results']"
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPMBEW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPMBEW_FILE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SAPEKKO')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SAPMBEW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPProductPrice')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.218:8081/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPProductPrice",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "10:00:00",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productCategoryCode']"
										},
										"sink": {
											"name": "productCategoryCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitName']"
										},
										"sink": {
											"name": "salesUnitName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicPrice']"
										},
										"sink": {
											"name": "basicPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['planDeliveryDays']"
										},
										"sink": {
											"name": "planDeliveryDays",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updateDate']"
										},
										"sink": {
											"name": "updateDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createDate']"
										},
										"sink": {
											"name": "createDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsn']"
										},
										"sink": {
											"name": "bomsn",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPProductPrice",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPProductPriceParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPProductPrice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@getPastTime(16,'Hour','yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productCategoryCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductLineName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "secondProductLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SecondProductLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnitNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SalesUnitNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnitName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SalesUnitName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicPrice",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "BasicPrice",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "planDeliveryDays",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "PlanDeliveryDays",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "isDangerous",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IsDangerous",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsn",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Bomsn",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CreateDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updateDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "UpdateDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPProductPriceParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPProductPriceDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-02T06:45:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SAPProductPrice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SyncS4_SAPDeliveries')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.195:8083/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPDeliveries",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['storageLocation']"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocNo']"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineName']"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemNo']"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemType']"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemTypeName']"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDate']"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryQuantity']"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnit']"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['upperItemBatchNo']"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitQuantity']"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['unitPrice']"
										},
										"sink": {
											"name": "unitPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderAmount']"
										},
										"sink": {
											"name": "orderAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryAmount']"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['storageLocationDesc']"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroupName']"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productTypeName']"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderNo']"
										},
										"sink": {
											"name": "orderNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsign']"
										},
										"sink": {
											"name": "bomsign",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['shipToDealerNo']"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['solidToDealerNo']"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['billingStatus']"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomheaderMaterialNo']"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['plantNo']"
										},
										"sink": {
											"name": "plantNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['batchNo']"
										},
										"sink": {
											"name": "batchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['serialNo']"
										},
										"sink": {
											"name": "serialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryStatus']"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesOrgNo']"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNameZH']"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroup']"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderItemNo']"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitNo']"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productType']"
										},
										"sink": {
											"name": "productType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdDate']"
										},
										"sink": {
											"name": "createdDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdTime']"
										},
										"sink": {
											"name": "createdTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedDate']"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deletionFlag']"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedTime']"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPDeliveries",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPDeliveries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@getPastTime(16,'Hour','yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-21T08:04:40Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SyncS4_SAPDeliveries_To_DW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.195:8083/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPDeliveries",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['storageLocation']"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocNo']"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineName']"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemNo']"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemType']"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemTypeName']"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDate']"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryQuantity']"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnit']"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['upperItemBatchNo']"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitQuantity']"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['unitPrice']"
										},
										"sink": {
											"name": "unitPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderAmount']"
										},
										"sink": {
											"name": "orderAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryAmount']"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['storageLocationDesc']"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroupName']"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productTypeName']"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderNo']"
										},
										"sink": {
											"name": "orderNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsign']"
										},
										"sink": {
											"name": "bomsign",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['shipToDealerNo']"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['solidToDealerNo']"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['billingStatus']"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomheaderMaterialNo']"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['plantNo']"
										},
										"sink": {
											"name": "plantNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['batchNo']"
										},
										"sink": {
											"name": "batchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['serialNo']"
										},
										"sink": {
											"name": "serialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryStatus']"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesOrgNo']"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNameZH']"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroup']"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderItemNo']"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitNo']"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productType']"
										},
										"sink": {
											"name": "productType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdDate']"
										},
										"sink": {
											"name": "createdDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdTime']"
										},
										"sink": {
											"name": "createdTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedDate']"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deletionFlag']"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedTime']"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPDeliveries",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPDeliveries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@getPastTime(16,'Hour','yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-06T08:41:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SyncS4_SAPDeliveries_pre4hour')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.195:8083/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPDeliveries",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "01:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['storageLocation']"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocNo']"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineName']"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemNo']"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemType']"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemTypeName']"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDate']"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryQuantity']"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnit']"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['upperItemBatchNo']"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitQuantity']"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['unitPrice']"
										},
										"sink": {
											"name": "unitPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderAmount']"
										},
										"sink": {
											"name": "orderAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryAmount']"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['storageLocationDesc']"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroupName']"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productTypeName']"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderNo']"
										},
										"sink": {
											"name": "orderNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsign']"
										},
										"sink": {
											"name": "bomsign",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['shipToDealerNo']"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['solidToDealerNo']"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['billingStatus']"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomheaderMaterialNo']"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['plantNo']"
										},
										"sink": {
											"name": "plantNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['batchNo']"
										},
										"sink": {
											"name": "batchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['serialNo']"
										},
										"sink": {
											"name": "serialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryStatus']"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesOrgNo']"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNameZH']"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroup']"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderItemNo']"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitNo']"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productType']"
										},
										"sink": {
											"name": "productType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdDate']"
										},
										"sink": {
											"name": "createdDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdTime']"
										},
										"sink": {
											"name": "createdTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedDate']"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deletionFlag']"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedTime']"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocTypeNo']"
										},
										"sink": {
											"name": "deliveryDocTypeNo"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPDeliveries_daily",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet_prehour",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPDeliveries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "secondProductLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productLineName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "materialGroupName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productTypeName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "orderNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "orderNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnitNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "isDangerous",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "materialGroup",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "orderItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deletionFlag",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "secondProductLineName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemTypeName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnit",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "unitPrice",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "unitPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "orderAmount",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "orderAmount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "deliveryAmount",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "deliveryDocTypeNo"
										},
										"sink": {
											"name": "deliveryDocTypeNo"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet_prehour",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesDB_pre4hour",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyFromDataLakeToDatabase",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_Fact_S4Deliveries_Get]"
						},
						"linkedServiceName": {
							"referenceName": "Report",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-31T02:09:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SAPDeliveries_daily')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/per4hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SyncS4_SAPDeliveries_pre4hour",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 4,
						"startTime": "2022-12-21T23:57:00",
						"timeZone": "China Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SyncS4_SAPDeliveries_pre4hour')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerPerOneHour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PurchaseDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2023-03-16T15:00:00",
						"timeZone": "China Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PurchaseDataExtraction')]"
			]
		}
	]
}