sysmexdatafactoryencrypted/linkedTemplates/ArmTemplate_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "数据工厂名称",
			"defaultValue": "sysmexdatafactoryencrypted"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SyncS4_SAPDeliveries_To_DW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.195:8083/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPDeliveries",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['storageLocation']"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocNo']"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineName']"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemNo']"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemType']"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemTypeName']"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDate']"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryQuantity']"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnit']"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['upperItemBatchNo']"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitQuantity']"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['unitPrice']"
										},
										"sink": {
											"name": "unitPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderAmount']"
										},
										"sink": {
											"name": "orderAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryAmount']"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['storageLocationDesc']"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroupName']"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productTypeName']"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderNo']"
										},
										"sink": {
											"name": "orderNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsign']"
										},
										"sink": {
											"name": "bomsign",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['shipToDealerNo']"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['solidToDealerNo']"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['billingStatus']"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomheaderMaterialNo']"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['plantNo']"
										},
										"sink": {
											"name": "plantNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['batchNo']"
										},
										"sink": {
											"name": "batchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['serialNo']"
										},
										"sink": {
											"name": "serialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryStatus']"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesOrgNo']"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNameZH']"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroup']"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderItemNo']"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitNo']"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productType']"
										},
										"sink": {
											"name": "productType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdDate']"
										},
										"sink": {
											"name": "createdDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdTime']"
										},
										"sink": {
											"name": "createdTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedDate']"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deletionFlag']"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedTime']"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPDeliveries",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPDeliveries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@getPastTime(16,'Hour','yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-06T08:41:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SyncS4_SAPDeliveries_pre4hour')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.195:8083/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPDeliveries",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "01:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['storageLocation']"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocNo']"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineName']"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemNo']"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemType']"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemTypeName']"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDate']"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryQuantity']"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnit']"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['upperItemBatchNo']"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitQuantity']"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['unitPrice']"
										},
										"sink": {
											"name": "unitPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderAmount']"
										},
										"sink": {
											"name": "orderAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryAmount']"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['storageLocationDesc']"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroupName']"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productTypeName']"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderNo']"
										},
										"sink": {
											"name": "orderNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsign']"
										},
										"sink": {
											"name": "bomsign",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['shipToDealerNo']"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['solidToDealerNo']"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['billingStatus']"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomheaderMaterialNo']"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['plantNo']"
										},
										"sink": {
											"name": "plantNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['batchNo']"
										},
										"sink": {
											"name": "batchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['serialNo']"
										},
										"sink": {
											"name": "serialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryStatus']"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesOrgNo']"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNameZH']"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroup']"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderItemNo']"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitNo']"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productType']"
										},
										"sink": {
											"name": "productType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdDate']"
										},
										"sink": {
											"name": "createdDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdTime']"
										},
										"sink": {
											"name": "createdTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedDate']"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deletionFlag']"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedTime']"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocTypeNo']"
										},
										"sink": {
											"name": "deliveryDocTypeNo",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPDeliveries_daily",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet_prehour",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPDeliveries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "secondProductLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productLineName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "materialGroupName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productTypeName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "orderNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "orderNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnitNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "isDangerous",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "materialGroup",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "orderItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deletionFlag",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "secondProductLineName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemTypeName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnit",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "unitPrice",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "unitPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "orderAmount",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "orderAmount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "deliveryAmount",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "deliveryDocTypeNo"
										},
										"sink": {
											"name": "deliveryDocTypeNo"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet_prehour",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesDB_pre4hour",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyFromDataLakeToDatabase",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_Fact_S4Deliveries_Get]"
						},
						"linkedServiceName": {
							"referenceName": "Report",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-31T02:09:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VendorDataExtraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLFA1Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "07:00:00",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Mandt']"
										},
										"sink": {
											"name": "Mandt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lifnr']"
										},
										"sink": {
											"name": "Lifnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Land1']"
										},
										"sink": {
											"name": "Land1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Name1']"
										},
										"sink": {
											"name": "Name1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Name2']"
										},
										"sink": {
											"name": "Name2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Name3']"
										},
										"sink": {
											"name": "Name3",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Name4']"
										},
										"sink": {
											"name": "Name4",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ort01']"
										},
										"sink": {
											"name": "Ort01",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ort02']"
										},
										"sink": {
											"name": "Ort02",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pfach']"
										},
										"sink": {
											"name": "Pfach",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pstl2']"
										},
										"sink": {
											"name": "Pstl2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pstlz']"
										},
										"sink": {
											"name": "Pstlz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Regio']"
										},
										"sink": {
											"name": "Regio",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Sortl']"
										},
										"sink": {
											"name": "Sortl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stras']"
										},
										"sink": {
											"name": "Stras",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Adrnr']"
										},
										"sink": {
											"name": "Adrnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mcod1']"
										},
										"sink": {
											"name": "Mcod1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mcod2']"
										},
										"sink": {
											"name": "Mcod2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mcod3']"
										},
										"sink": {
											"name": "Mcod3",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Anred']"
										},
										"sink": {
											"name": "Anred",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bahns']"
										},
										"sink": {
											"name": "Bahns",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bbbnr']"
										},
										"sink": {
											"name": "Bbbnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bbsnr']"
										},
										"sink": {
											"name": "Bbsnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Begru']"
										},
										"sink": {
											"name": "Begru",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Brsch']"
										},
										"sink": {
											"name": "Brsch",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bubkz']"
										},
										"sink": {
											"name": "Bubkz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Datlt']"
										},
										"sink": {
											"name": "Datlt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Dtams']"
										},
										"sink": {
											"name": "Dtams",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Dtaws']"
										},
										"sink": {
											"name": "Dtaws",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Erdat']"
										},
										"sink": {
											"name": "Erdat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ernam']"
										},
										"sink": {
											"name": "Ernam",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Esrnr']"
										},
										"sink": {
											"name": "Esrnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Konzs']"
										},
										"sink": {
											"name": "Konzs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ktokk']"
										},
										"sink": {
											"name": "Ktokk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kunnr']"
										},
										"sink": {
											"name": "Kunnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lnrza']"
										},
										"sink": {
											"name": "Lnrza",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Loevm']"
										},
										"sink": {
											"name": "Loevm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Sperr']"
										},
										"sink": {
											"name": "Sperr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Sperm']"
										},
										"sink": {
											"name": "Sperm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Spras']"
										},
										"sink": {
											"name": "Spras",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stcd1']"
										},
										"sink": {
											"name": "Stcd1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stcd2']"
										},
										"sink": {
											"name": "Stcd2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stkza']"
										},
										"sink": {
											"name": "Stkza",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stkzu']"
										},
										"sink": {
											"name": "Stkzu",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Telbx']"
										},
										"sink": {
											"name": "Telbx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Telf1']"
										},
										"sink": {
											"name": "Telf1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Telf2']"
										},
										"sink": {
											"name": "Telf2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Telfx']"
										},
										"sink": {
											"name": "Telfx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Teltx']"
										},
										"sink": {
											"name": "Teltx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Telx1']"
										},
										"sink": {
											"name": "Telx1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Xcpdk']"
										},
										"sink": {
											"name": "Xcpdk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Xzemp']"
										},
										"sink": {
											"name": "Xzemp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vbund']"
										},
										"sink": {
											"name": "Vbund",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Fiskn']"
										},
										"sink": {
											"name": "Fiskn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stceg']"
										},
										"sink": {
											"name": "Stceg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stkzn']"
										},
										"sink": {
											"name": "Stkzn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Sperq']"
										},
										"sink": {
											"name": "Sperq",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Gbort']"
										},
										"sink": {
											"name": "Gbort",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Gbdat']"
										},
										"sink": {
											"name": "Gbdat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Sexkz']"
										},
										"sink": {
											"name": "Sexkz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kraus']"
										},
										"sink": {
											"name": "Kraus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Revdb']"
										},
										"sink": {
											"name": "Revdb",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Qssys']"
										},
										"sink": {
											"name": "Qssys",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ktock']"
										},
										"sink": {
											"name": "Ktock",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pfort']"
										},
										"sink": {
											"name": "Pfort",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Werks']"
										},
										"sink": {
											"name": "Werks",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ltsna']"
										},
										"sink": {
											"name": "Ltsna",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Werkr']"
										},
										"sink": {
											"name": "Werkr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Plkal']"
										},
										"sink": {
											"name": "Plkal",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Duefl']"
										},
										"sink": {
											"name": "Duefl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Txjcd']"
										},
										"sink": {
											"name": "Txjcd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Sperz']"
										},
										"sink": {
											"name": "Sperz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Scacd']"
										},
										"sink": {
											"name": "Scacd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Sfrgr']"
										},
										"sink": {
											"name": "Sfrgr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lzone']"
										},
										"sink": {
											"name": "Lzone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Xlfza']"
										},
										"sink": {
											"name": "Xlfza",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Dlgrp']"
										},
										"sink": {
											"name": "Dlgrp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Fityp']"
										},
										"sink": {
											"name": "Fityp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stcdt']"
										},
										"sink": {
											"name": "Stcdt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Regss']"
										},
										"sink": {
											"name": "Regss",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Actss']"
										},
										"sink": {
											"name": "Actss",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stcd3']"
										},
										"sink": {
											"name": "Stcd3",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stcd4']"
										},
										"sink": {
											"name": "Stcd4",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stcd5']"
										},
										"sink": {
											"name": "Stcd5",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ipisp']"
										},
										"sink": {
											"name": "Ipisp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Taxbs']"
										},
										"sink": {
											"name": "Taxbs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Profs']"
										},
										"sink": {
											"name": "Profs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stgdl']"
										},
										"sink": {
											"name": "Stgdl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Emnfr']"
										},
										"sink": {
											"name": "Emnfr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lfurl']"
										},
										"sink": {
											"name": "Lfurl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1kfrepre']"
										},
										"sink": {
											"name": "J1kfrepre",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1kftbus']"
										},
										"sink": {
											"name": "J1kftbus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1kftind']"
										},
										"sink": {
											"name": "J1kftind",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Confs']"
										},
										"sink": {
											"name": "Confs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Updat']"
										},
										"sink": {
											"name": "Updat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Uptim']"
										},
										"sink": {
											"name": "Uptim",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Nodel']"
										},
										"sink": {
											"name": "Nodel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Qssysdat']"
										},
										"sink": {
											"name": "Qssysdat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Podkzb']"
										},
										"sink": {
											"name": "Podkzb",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Fisku']"
										},
										"sink": {
											"name": "Fisku",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stenr']"
										},
										"sink": {
											"name": "Stenr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['CarrierConf']"
										},
										"sink": {
											"name": "CarrierConf",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['MinComp']"
										},
										"sink": {
											"name": "MinComp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['TermLi']"
										},
										"sink": {
											"name": "TermLi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['CrcNum']"
										},
										"sink": {
											"name": "CrcNum",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['CvpXblck']"
										},
										"sink": {
											"name": "CvpXblck",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Rg']"
										},
										"sink": {
											"name": "Rg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Exp']"
										},
										"sink": {
											"name": "Exp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Uf']"
										},
										"sink": {
											"name": "Uf",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Rgdate']"
										},
										"sink": {
											"name": "Rgdate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ric']"
										},
										"sink": {
											"name": "Ric",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Rne']"
										},
										"sink": {
											"name": "Rne",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Rnedate']"
										},
										"sink": {
											"name": "Rnedate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cnae']"
										},
										"sink": {
											"name": "Cnae",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Legalnat']"
										},
										"sink": {
											"name": "Legalnat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Crtn']"
										},
										"sink": {
											"name": "Crtn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Icmstaxpay']"
										},
										"sink": {
											"name": "Icmstaxpay",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Indtyp']"
										},
										"sink": {
											"name": "Indtyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Tdt']"
										},
										"sink": {
											"name": "Tdt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Comsize']"
										},
										"sink": {
											"name": "Comsize",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Decregpc']"
										},
										"sink": {
											"name": "Decregpc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lfa1EewSupp']"
										},
										"sink": {
											"name": "Lfa1EewSupp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['JScCapital']"
										},
										"sink": {
											"name": "JScCapital",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['JScCurrency']"
										},
										"sink": {
											"name": "JScCurrency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Alc']"
										},
										"sink": {
											"name": "Alc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PmtOffice']"
										},
										"sink": {
											"name": "PmtOffice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PpaRelevant']"
										},
										"sink": {
											"name": "PpaRelevant",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Psofg']"
										},
										"sink": {
											"name": "Psofg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Psois']"
										},
										"sink": {
											"name": "Psois",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pson1']"
										},
										"sink": {
											"name": "Pson1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pson2']"
										},
										"sink": {
											"name": "Pson2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pson3']"
										},
										"sink": {
											"name": "Pson3",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Psovn']"
										},
										"sink": {
											"name": "Psovn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Psotl']"
										},
										"sink": {
											"name": "Psotl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Psohs']"
										},
										"sink": {
											"name": "Psohs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Psost']"
										},
										"sink": {
											"name": "Psost",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['BorgrDatun']"
										},
										"sink": {
											"name": "BorgrDatun",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['BorgrYeaun']"
										},
										"sink": {
											"name": "BorgrYeaun",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Addr2Street']"
										},
										"sink": {
											"name": "Addr2Street",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Addr2HouseNum']"
										},
										"sink": {
											"name": "Addr2HouseNum",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Addr2Post']"
										},
										"sink": {
											"name": "Addr2Post",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Addr2City']"
										},
										"sink": {
											"name": "Addr2City",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Addr2Country']"
										},
										"sink": {
											"name": "Addr2Country",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Categ']"
										},
										"sink": {
											"name": "Categ",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PartnerName']"
										},
										"sink": {
											"name": "PartnerName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PartnerUtr']"
										},
										"sink": {
											"name": "PartnerUtr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Status']"
										},
										"sink": {
											"name": "Status",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vfnum']"
										},
										"sink": {
											"name": "Vfnum",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vfnid']"
										},
										"sink": {
											"name": "Vfnid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Crn']"
										},
										"sink": {
											"name": "Crn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1iexcd']"
										},
										"sink": {
											"name": "J1iexcd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1iexrn']"
										},
										"sink": {
											"name": "J1iexrn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1iexrg']"
										},
										"sink": {
											"name": "J1iexrg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1iexdi']"
										},
										"sink": {
											"name": "J1iexdi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1iexco']"
										},
										"sink": {
											"name": "J1iexco",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1icstno']"
										},
										"sink": {
											"name": "J1icstno",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1ilstno']"
										},
										"sink": {
											"name": "J1ilstno",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1ipanno']"
										},
										"sink": {
											"name": "J1ipanno",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1iexcive']"
										},
										"sink": {
											"name": "J1iexcive",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1issist']"
										},
										"sink": {
											"name": "J1issist",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1ivtyp']"
										},
										"sink": {
											"name": "J1ivtyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1ivencre']"
										},
										"sink": {
											"name": "J1ivencre",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Aedat']"
										},
										"sink": {
											"name": "Aedat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Usnam']"
										},
										"sink": {
											"name": "Usnam",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1isern']"
										},
										"sink": {
											"name": "J1isern",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1ipanref']"
										},
										"sink": {
											"name": "J1ipanref",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1ipanvaldt']"
										},
										"sink": {
											"name": "J1ipanvaldt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1iCustoms']"
										},
										"sink": {
											"name": "J1iCustoms",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1idedref']"
										},
										"sink": {
											"name": "J1idedref",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['VenClass']"
										},
										"sink": {
											"name": "VenClass",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Entpub']"
										},
										"sink": {
											"name": "Entpub",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Escrit']"
										},
										"sink": {
											"name": "Escrit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Dvalss']"
										},
										"sink": {
											"name": "Dvalss",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Frmcss']"
										},
										"sink": {
											"name": "Frmcss",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Codcae']"
										},
										"sink": {
											"name": "Codcae",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ausdiv']"
										},
										"sink": {
											"name": "Ausdiv",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['TransportChain']"
										},
										"sink": {
											"name": "TransportChain",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['StagingTime']"
										},
										"sink": {
											"name": "StagingTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SchedulingType']"
										},
										"sink": {
											"name": "SchedulingType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SubmiRelevant']"
										},
										"sink": {
											"name": "SubmiRelevant",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['d']['results']"
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPLFA1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPLFA1_FILE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MaterialDataExtraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMARAData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Mandt']"
										},
										"sink": {
											"name": "Mandt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Matnr']"
										},
										"sink": {
											"name": "Matnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ersda']"
										},
										"sink": {
											"name": "Ersda",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['CreatedAtTime']"
										},
										"sink": {
											"name": "CreatedAtTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ernam']"
										},
										"sink": {
											"name": "Ernam",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Laeda']"
										},
										"sink": {
											"name": "Laeda",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Aenam']"
										},
										"sink": {
											"name": "Aenam",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vpsta']"
										},
										"sink": {
											"name": "Vpsta",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pstat']"
										},
										"sink": {
											"name": "Pstat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lvorm']"
										},
										"sink": {
											"name": "Lvorm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mtart']"
										},
										"sink": {
											"name": "Mtart",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mbrsh']"
										},
										"sink": {
											"name": "Mbrsh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Matkl']"
										},
										"sink": {
											"name": "Matkl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bismt']"
										},
										"sink": {
											"name": "Bismt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Meins']"
										},
										"sink": {
											"name": "Meins",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bstme']"
										},
										"sink": {
											"name": "Bstme",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zeinr']"
										},
										"sink": {
											"name": "Zeinr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zeiar']"
										},
										"sink": {
											"name": "Zeiar",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zeivr']"
										},
										"sink": {
											"name": "Zeivr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zeifo']"
										},
										"sink": {
											"name": "Zeifo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Aeszn']"
										},
										"sink": {
											"name": "Aeszn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Blatt']"
										},
										"sink": {
											"name": "Blatt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Blanz']"
										},
										"sink": {
											"name": "Blanz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ferth']"
										},
										"sink": {
											"name": "Ferth",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Formt']"
										},
										"sink": {
											"name": "Formt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Groes']"
										},
										"sink": {
											"name": "Groes",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Wrkst']"
										},
										"sink": {
											"name": "Wrkst",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Normt']"
										},
										"sink": {
											"name": "Normt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Labor']"
										},
										"sink": {
											"name": "Labor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ekwsl']"
										},
										"sink": {
											"name": "Ekwsl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Brgew']"
										},
										"sink": {
											"name": "Brgew",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ntgew']"
										},
										"sink": {
											"name": "Ntgew",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Gewei']"
										},
										"sink": {
											"name": "Gewei",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Volum']"
										},
										"sink": {
											"name": "Volum",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Voleh']"
										},
										"sink": {
											"name": "Voleh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Behvo']"
										},
										"sink": {
											"name": "Behvo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Raube']"
										},
										"sink": {
											"name": "Raube",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Tempb']"
										},
										"sink": {
											"name": "Tempb",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Disst']"
										},
										"sink": {
											"name": "Disst",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Tragr']"
										},
										"sink": {
											"name": "Tragr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stoff']"
										},
										"sink": {
											"name": "Stoff",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Spart']"
										},
										"sink": {
											"name": "Spart",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kunnr']"
										},
										"sink": {
											"name": "Kunnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Eannr']"
										},
										"sink": {
											"name": "Eannr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Wesch']"
										},
										"sink": {
											"name": "Wesch",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bwvor']"
										},
										"sink": {
											"name": "Bwvor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bwscl']"
										},
										"sink": {
											"name": "Bwscl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Saiso']"
										},
										"sink": {
											"name": "Saiso",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Etiar']"
										},
										"sink": {
											"name": "Etiar",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Etifo']"
										},
										"sink": {
											"name": "Etifo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Entar']"
										},
										"sink": {
											"name": "Entar",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ean11']"
										},
										"sink": {
											"name": "Ean11",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Numtp']"
										},
										"sink": {
											"name": "Numtp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Laeng']"
										},
										"sink": {
											"name": "Laeng",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Breit']"
										},
										"sink": {
											"name": "Breit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Hoehe']"
										},
										"sink": {
											"name": "Hoehe",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Meabm']"
										},
										"sink": {
											"name": "Meabm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Prdha']"
										},
										"sink": {
											"name": "Prdha",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Aeklk']"
										},
										"sink": {
											"name": "Aeklk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cadkz']"
										},
										"sink": {
											"name": "Cadkz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Qmpur']"
										},
										"sink": {
											"name": "Qmpur",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ergew']"
										},
										"sink": {
											"name": "Ergew",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ergei']"
										},
										"sink": {
											"name": "Ergei",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ervol']"
										},
										"sink": {
											"name": "Ervol",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ervoe']"
										},
										"sink": {
											"name": "Ervoe",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Gewto']"
										},
										"sink": {
											"name": "Gewto",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Volto']"
										},
										"sink": {
											"name": "Volto",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vabme']"
										},
										"sink": {
											"name": "Vabme",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kzrev']"
										},
										"sink": {
											"name": "Kzrev",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kzkfg']"
										},
										"sink": {
											"name": "Kzkfg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Xchpf']"
										},
										"sink": {
											"name": "Xchpf",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vhart']"
										},
										"sink": {
											"name": "Vhart",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Fuelg']"
										},
										"sink": {
											"name": "Fuelg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stfak']"
										},
										"sink": {
											"name": "Stfak",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Magrv']"
										},
										"sink": {
											"name": "Magrv",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Begru']"
										},
										"sink": {
											"name": "Begru",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Datab']"
										},
										"sink": {
											"name": "Datab",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Liqdt']"
										},
										"sink": {
											"name": "Liqdt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Saisj']"
										},
										"sink": {
											"name": "Saisj",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Plgtp']"
										},
										"sink": {
											"name": "Plgtp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mlgut']"
										},
										"sink": {
											"name": "Mlgut",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Extwg']"
										},
										"sink": {
											"name": "Extwg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Satnr']"
										},
										"sink": {
											"name": "Satnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Attyp']"
										},
										"sink": {
											"name": "Attyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kzkup']"
										},
										"sink": {
											"name": "Kzkup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kznfm']"
										},
										"sink": {
											"name": "Kznfm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pmata']"
										},
										"sink": {
											"name": "Pmata",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mstae']"
										},
										"sink": {
											"name": "Mstae",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mstav']"
										},
										"sink": {
											"name": "Mstav",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mstde']"
										},
										"sink": {
											"name": "Mstde",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mstdv']"
										},
										"sink": {
											"name": "Mstdv",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Taklv']"
										},
										"sink": {
											"name": "Taklv",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Rbnrm']"
										},
										"sink": {
											"name": "Rbnrm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mhdrz']"
										},
										"sink": {
											"name": "Mhdrz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mhdhb']"
										},
										"sink": {
											"name": "Mhdhb",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mhdlp']"
										},
										"sink": {
											"name": "Mhdlp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inhme']"
										},
										"sink": {
											"name": "Inhme",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inhal']"
										},
										"sink": {
											"name": "Inhal",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vpreh']"
										},
										"sink": {
											"name": "Vpreh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Etiag']"
										},
										"sink": {
											"name": "Etiag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inhbr']"
										},
										"sink": {
											"name": "Inhbr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cmeth']"
										},
										"sink": {
											"name": "Cmeth",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cuobf']"
										},
										"sink": {
											"name": "Cuobf",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kzumw']"
										},
										"sink": {
											"name": "Kzumw",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kosch']"
										},
										"sink": {
											"name": "Kosch",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Sprof']"
										},
										"sink": {
											"name": "Sprof",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Nrfhg']"
										},
										"sink": {
											"name": "Nrfhg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mfrpn']"
										},
										"sink": {
											"name": "Mfrpn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mfrnr']"
										},
										"sink": {
											"name": "Mfrnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bmatn']"
										},
										"sink": {
											"name": "Bmatn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mprof']"
										},
										"sink": {
											"name": "Mprof",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kzwsm']"
										},
										"sink": {
											"name": "Kzwsm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Saity']"
										},
										"sink": {
											"name": "Saity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Profl']"
										},
										"sink": {
											"name": "Profl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ihivi']"
										},
										"sink": {
											"name": "Ihivi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Iloos']"
										},
										"sink": {
											"name": "Iloos",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Serlv']"
										},
										"sink": {
											"name": "Serlv",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kzgvh']"
										},
										"sink": {
											"name": "Kzgvh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Xgchp']"
										},
										"sink": {
											"name": "Xgchp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kzeff']"
										},
										"sink": {
											"name": "Kzeff",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Compl']"
										},
										"sink": {
											"name": "Compl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Iprkz']"
										},
										"sink": {
											"name": "Iprkz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Rdmhd']"
										},
										"sink": {
											"name": "Rdmhd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Przus']"
										},
										"sink": {
											"name": "Przus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['MtposMara']"
										},
										"sink": {
											"name": "MtposMara",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bflme']"
										},
										"sink": {
											"name": "Bflme",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Matfi']"
										},
										"sink": {
											"name": "Matfi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cmrel']"
										},
										"sink": {
											"name": "Cmrel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bbtyp']"
										},
										"sink": {
											"name": "Bbtyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SledBbd']"
										},
										"sink": {
											"name": "SledBbd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['GtinVariant']"
										},
										"sink": {
											"name": "GtinVariant",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Gennr']"
										},
										"sink": {
											"name": "Gennr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Rmatp']"
										},
										"sink": {
											"name": "Rmatp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['GdsRelevant']"
										},
										"sink": {
											"name": "GdsRelevant",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Weora']"
										},
										"sink": {
											"name": "Weora",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['HutypDflt']"
										},
										"sink": {
											"name": "HutypDflt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pilferable']"
										},
										"sink": {
											"name": "Pilferable",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Whstc']"
										},
										"sink": {
											"name": "Whstc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Whmatgr']"
										},
										"sink": {
											"name": "Whmatgr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Hndlcode']"
										},
										"sink": {
											"name": "Hndlcode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Hazmat']"
										},
										"sink": {
											"name": "Hazmat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Hutyp']"
										},
										"sink": {
											"name": "Hutyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['TareVar']"
										},
										"sink": {
											"name": "TareVar",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Maxc']"
										},
										"sink": {
											"name": "Maxc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['MaxcTol']"
										},
										"sink": {
											"name": "MaxcTol",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Maxl']"
										},
										"sink": {
											"name": "Maxl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Maxb']"
										},
										"sink": {
											"name": "Maxb",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Maxh']"
										},
										"sink": {
											"name": "Maxh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['MaxdimUom']"
										},
										"sink": {
											"name": "MaxdimUom",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Herkl']"
										},
										"sink": {
											"name": "Herkl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mfrgr']"
										},
										"sink": {
											"name": "Mfrgr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Qqtime']"
										},
										"sink": {
											"name": "Qqtime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Qqtimeuom']"
										},
										"sink": {
											"name": "Qqtimeuom",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Qgrp']"
										},
										"sink": {
											"name": "Qgrp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Serial']"
										},
										"sink": {
											"name": "Serial",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PsSmartform']"
										},
										"sink": {
											"name": "PsSmartform",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Logunit']"
										},
										"sink": {
											"name": "Logunit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cwqrel']"
										},
										"sink": {
											"name": "Cwqrel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cwqproc']"
										},
										"sink": {
											"name": "Cwqproc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cwqtolgr']"
										},
										"sink": {
											"name": "Cwqtolgr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Adprof']"
										},
										"sink": {
											"name": "Adprof",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ipmipproduct']"
										},
										"sink": {
											"name": "Ipmipproduct",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['AllowPmatIgno']"
										},
										"sink": {
											"name": "AllowPmatIgno",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Medium']"
										},
										"sink": {
											"name": "Medium",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Commodity']"
										},
										"sink": {
											"name": "Commodity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['AnimalOrigin']"
										},
										"sink": {
											"name": "AnimalOrigin",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['TextileCompInd']"
										},
										"sink": {
											"name": "TextileCompInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['LastChangedTime']"
										},
										"sink": {
											"name": "LastChangedTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['MatnrExternal']"
										},
										"sink": {
											"name": "MatnrExternal",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ChmlCmplncRlvnceInd']"
										},
										"sink": {
											"name": "ChmlCmplncRlvnceInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['LogisticalMatCategory']"
										},
										"sink": {
											"name": "LogisticalMatCategory",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SalesMaterial']"
										},
										"sink": {
											"name": "SalesMaterial",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['IdentificationTagType']"
										},
										"sink": {
											"name": "IdentificationTagType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SgtCsgr']"
										},
										"sink": {
											"name": "SgtCsgr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SgtCovsa']"
										},
										"sink": {
											"name": "SgtCovsa",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SgtStat']"
										},
										"sink": {
											"name": "SgtStat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SgtScope']"
										},
										"sink": {
											"name": "SgtScope",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SgtRel']"
										},
										"sink": {
											"name": "SgtRel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Anp']"
										},
										"sink": {
											"name": "Anp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PsmCode']"
										},
										"sink": {
											"name": "PsmCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshMgAt1']"
										},
										"sink": {
											"name": "FshMgAt1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshMgAt2']"
										},
										"sink": {
											"name": "FshMgAt2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshMgAt3']"
										},
										"sink": {
											"name": "FshMgAt3",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshSealv']"
										},
										"sink": {
											"name": "FshSealv",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshSeaim']"
										},
										"sink": {
											"name": "FshSeaim",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshScMid']"
										},
										"sink": {
											"name": "FshScMid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['DummyPrdInclEewPs']"
										},
										"sink": {
											"name": "DummyPrdInclEewPs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmMatidGuid16']"
										},
										"sink": {
											"name": "ScmMatidGuid16",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmMatidGuid22']"
										},
										"sink": {
											"name": "ScmMatidGuid22",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmMaturityDur']"
										},
										"sink": {
											"name": "ScmMaturityDur",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmShlfLfeReqMin']"
										},
										"sink": {
											"name": "ScmShlfLfeReqMin",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmShlfLfeReqMax']"
										},
										"sink": {
											"name": "ScmShlfLfeReqMax",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmPuom']"
										},
										"sink": {
											"name": "ScmPuom",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['RmatpPb']"
										},
										"sink": {
											"name": "RmatpPb",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ProdShape']"
										},
										"sink": {
											"name": "ProdShape",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['MoProfileId']"
										},
										"sink": {
											"name": "MoProfileId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OverhangTresh']"
										},
										"sink": {
											"name": "OverhangTresh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['BridgeTresh']"
										},
										"sink": {
											"name": "BridgeTresh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['BridgeMaxSlope']"
										},
										"sink": {
											"name": "BridgeMaxSlope",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['HeightNonflat']"
										},
										"sink": {
											"name": "HeightNonflat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['HeightNonflatUom']"
										},
										"sink": {
											"name": "HeightNonflatUom",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmKitcomp']"
										},
										"sink": {
											"name": "ScmKitcomp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmProdPaoopt']"
										},
										"sink": {
											"name": "ScmProdPaoopt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmBodDeplvl']"
										},
										"sink": {
											"name": "ScmBodDeplvl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmRestrictInvbal']"
										},
										"sink": {
											"name": "ScmRestrictInvbal",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmDrpGlStock']"
										},
										"sink": {
											"name": "ScmDrpGlStock",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmExclExpedite']"
										},
										"sink": {
											"name": "ScmExclExpedite",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['cwm_xcwmat']"
										},
										"sink": {
											"name": "cwm_xcwmat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['cwm_valum']"
										},
										"sink": {
											"name": "cwm_valum",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['cwm_tolgr']"
										},
										"sink": {
											"name": "cwm_tolgr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['cwm_tara']"
										},
										"sink": {
											"name": "cwm_tara",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['cwm_tarum']"
										},
										"sink": {
											"name": "cwm_tarum",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['bev1_luleinh']"
										},
										"sink": {
											"name": "bev1_luleinh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['bev1_luldegrp']"
										},
										"sink": {
											"name": "bev1_luldegrp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['bev1_nestruccat']"
										},
										"sink": {
											"name": "bev1_nestruccat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['dsd_slToltyp']"
										},
										"sink": {
											"name": "dsd_slToltyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['dsd_svCntGrp']"
										},
										"sink": {
											"name": "dsd_svCntGrp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['dsd_vcGroup']"
										},
										"sink": {
											"name": "dsd_vcGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_kadu']"
										},
										"sink": {
											"name": "sapmp_kadu",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_abmein']"
										},
										"sink": {
											"name": "sapmp_abmein",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_kadp']"
										},
										"sink": {
											"name": "sapmp_kadp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_brad']"
										},
										"sink": {
											"name": "sapmp_brad",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_spbi']"
										},
										"sink": {
											"name": "sapmp_spbi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_trad']"
										},
										"sink": {
											"name": "sapmp_trad",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_kedu']"
										},
										"sink": {
											"name": "sapmp_kedu",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_sptr']"
										},
										"sink": {
											"name": "sapmp_sptr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_fbdk']"
										},
										"sink": {
											"name": "sapmp_fbdk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_fbhk']"
										},
										"sink": {
											"name": "sapmp_fbhk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_rili']"
										},
										"sink": {
											"name": "sapmp_rili",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_fbak']"
										},
										"sink": {
											"name": "sapmp_fbak",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_aho']"
										},
										"sink": {
											"name": "sapmp_aho",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_mifrr']"
										},
										"sink": {
											"name": "sapmp_mifrr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sttpec_sertype']"
										},
										"sink": {
											"name": "sttpec_sertype",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sttpec_syncact']"
										},
										"sink": {
											"name": "sttpec_syncact",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sttpec_synctime']"
										},
										"sink": {
											"name": "sttpec_synctime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sttpec_syncchg']"
										},
										"sink": {
											"name": "sttpec_syncchg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sttpec_countryRef']"
										},
										"sink": {
											"name": "sttpec_countryRef",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sttpec_prdcat']"
										},
										"sink": {
											"name": "sttpec_prdcat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rTiltInd']"
										},
										"sink": {
											"name": "vso_rTiltInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rStackInd']"
										},
										"sink": {
											"name": "vso_rStackInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rBotInd']"
										},
										"sink": {
											"name": "vso_rBotInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rTopInd']"
										},
										"sink": {
											"name": "vso_rTopInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rStackNo']"
										},
										"sink": {
											"name": "vso_rStackNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rPalInd']"
										},
										"sink": {
											"name": "vso_rPalInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rPalOvrD']"
										},
										"sink": {
											"name": "vso_rPalOvrD",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rPalOvrW']"
										},
										"sink": {
											"name": "vso_rPalOvrW",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rPalBHt']"
										},
										"sink": {
											"name": "vso_rPalBHt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rPalMinH']"
										},
										"sink": {
											"name": "vso_rPalMinH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rTolBHt']"
										},
										"sink": {
											"name": "vso_rTolBHt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rNoPGvh']"
										},
										"sink": {
											"name": "vso_rNoPGvh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rQuanUnit']"
										},
										"sink": {
											"name": "vso_rQuanUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rKzgvhInd']"
										},
										"sink": {
											"name": "vso_rKzgvhInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Packcode']"
										},
										"sink": {
											"name": "Packcode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['DgPackStatus']"
										},
										"sink": {
											"name": "DgPackStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SrvDura']"
										},
										"sink": {
											"name": "SrvDura",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SrvDuraUom']"
										},
										"sink": {
											"name": "SrvDuraUom",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SrvSerwi']"
										},
										"sink": {
											"name": "SrvSerwi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SrvEscal']"
										},
										"sink": {
											"name": "SrvEscal",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SomCycle']"
										},
										"sink": {
											"name": "SomCycle",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SomCycleRule']"
										},
										"sink": {
											"name": "SomCycleRule",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SomTcSchema']"
										},
										"sink": {
											"name": "SomTcSchema",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mcond']"
										},
										"sink": {
											"name": "Mcond",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Retdelc']"
										},
										"sink": {
											"name": "Retdelc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['LoglevReto']"
										},
										"sink": {
											"name": "LoglevReto",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Nsnid']"
										},
										"sink": {
											"name": "Nsnid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Icfa']"
										},
										"sink": {
											"name": "Icfa",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['RicId']"
										},
										"sink": {
											"name": "RicId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ovlpn']"
										},
										"sink": {
											"name": "Ovlpn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['AdspcSpc']"
										},
										"sink": {
											"name": "AdspcSpc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Varid']"
										},
										"sink": {
											"name": "Varid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Msbookpartno']"
										},
										"sink": {
											"name": "Msbookpartno",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Dpcbt']"
										},
										"sink": {
											"name": "Dpcbt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Xgrdt']"
										},
										"sink": {
											"name": "Xgrdt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Imatn']"
										},
										"sink": {
											"name": "Imatn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Picnum']"
										},
										"sink": {
											"name": "Picnum",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bstat']"
										},
										"sink": {
											"name": "Bstat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ColorAtinn']"
										},
										"sink": {
											"name": "ColorAtinn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Size1Atinn']"
										},
										"sink": {
											"name": "Size1Atinn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Size2Atinn']"
										},
										"sink": {
											"name": "Size2Atinn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Color']"
										},
										"sink": {
											"name": "Color",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Size1']"
										},
										"sink": {
											"name": "Size1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Size2']"
										},
										"sink": {
											"name": "Size2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FreeChar']"
										},
										"sink": {
											"name": "FreeChar",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['CareCode']"
										},
										"sink": {
											"name": "CareCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['BrandId']"
										},
										"sink": {
											"name": "BrandId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberCode1']"
										},
										"sink": {
											"name": "FiberCode1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberPart1']"
										},
										"sink": {
											"name": "FiberPart1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberCode2']"
										},
										"sink": {
											"name": "FiberCode2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberPart2']"
										},
										"sink": {
											"name": "FiberPart2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberCode3']"
										},
										"sink": {
											"name": "FiberCode3",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberPart3']"
										},
										"sink": {
											"name": "FiberPart3",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberCode4']"
										},
										"sink": {
											"name": "FiberCode4",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberPart4']"
										},
										"sink": {
											"name": "FiberPart4",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberCode5']"
										},
										"sink": {
											"name": "FiberCode5",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberPart5']"
										},
										"sink": {
											"name": "FiberPart5",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Fashgrd']"
										},
										"sink": {
											"name": "Fashgrd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapce_iuuaLoelct']"
										},
										"sink": {
											"name": "sapce_iuuaLoelct",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapce_iuuaElcaKeyvalue']"
										},
										"sink": {
											"name": "sapce_iuuaElcaKeyvalue",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['d']['results']"
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPMARA",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPMARA_FILE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MaterialFactoryDataExtraction",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyMARAData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaterialFactoryDataExtraction",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPDataExtraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SalesDataExtraction",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SalesDataExtraction",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PurchaseDataExtraction",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SalesDataExtraction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PurchaseDataExtraction",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DeliveryNotesDataExtraction",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PurchaseDataExtraction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DeliveryNotesDataExtraction",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RestInventoryDataExtraction",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DeliveryNotesDataExtraction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "RestInventoryDataExtraction",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SAP_OBJKDataExtraction",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RestInventoryDataExtraction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SAP_OBJKDataExtraction",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SAP_SER01DataExtraction",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SAP_OBJKDataExtraction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SAP_SER01DataExtraction",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/per4hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SyncS4_SAPDeliveries_pre4hour",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 4,
						"startTime": "2022-12-21T23:57:00",
						"timeZone": "China Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SyncS4_SAPDeliveries_pre4hour')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerPerDayEvening')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SAPBillingDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-09-13T02:06:00",
						"timeZone": "China Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								19
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerPerDay')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ProductLineDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "VendorDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "FinancialSHKVoucherDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "SAPMasterDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "FinancialExpense_SHKSJNSWXDataExtraction_copy1",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "MaterialDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "FinancialDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2023-03-22T05:35:00",
						"timeZone": "China Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VendorDataExtraction')]",
				"[concat(variables('factoryId'), '/pipelines/MaterialDataExtraction')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerPerOneHour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ProductDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "AnnualContractDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "SAPDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "DealerMasterDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "FinancialSCH_FOCDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2023-03-16T15:00:00",
						"timeZone": "China Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SAPDataExtraction')]"
			]
		}
	]
}