sysmexdatafactoryencrypted/linkedTemplates/ArmTemplate_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "数据工厂名称",
			"defaultValue": "sysmexdatafactoryencrypted"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SAPBillingDataExtraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyVBRKData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"QueryParameters.{offset}": "RANGE:0::10000",
									"EndCondition:$.d.results": "Empty"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Mandt']"
										},
										"sink": {
											"name": "Mandt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vbeln']"
										},
										"sink": {
											"name": "Vbeln",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Fkart']"
										},
										"sink": {
											"name": "Fkart",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Fktyp']"
										},
										"sink": {
											"name": "Fktyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vbtyp']"
										},
										"sink": {
											"name": "Vbtyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Waerk']"
										},
										"sink": {
											"name": "Waerk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vkorg']"
										},
										"sink": {
											"name": "Vkorg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vtweg']"
										},
										"sink": {
											"name": "Vtweg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kalsm']"
										},
										"sink": {
											"name": "Kalsm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Knumv']"
										},
										"sink": {
											"name": "Knumv",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vsbed']"
										},
										"sink": {
											"name": "Vsbed",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Fkdat']"
										},
										"sink": {
											"name": "Fkdat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Belnr']"
										},
										"sink": {
											"name": "Belnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Gjahr']"
										},
										"sink": {
											"name": "Gjahr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Poper']"
										},
										"sink": {
											"name": "Poper",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Konda']"
										},
										"sink": {
											"name": "Konda",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kdgrp']"
										},
										"sink": {
											"name": "Kdgrp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bzirk']"
										},
										"sink": {
											"name": "Bzirk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pltyp']"
										},
										"sink": {
											"name": "Pltyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inco1']"
										},
										"sink": {
											"name": "Inco1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inco2']"
										},
										"sink": {
											"name": "Inco2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Rfbsk']"
										},
										"sink": {
											"name": "Rfbsk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mrnkz']"
										},
										"sink": {
											"name": "Mrnkz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kurrf']"
										},
										"sink": {
											"name": "Kurrf",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cpkur']"
										},
										"sink": {
											"name": "Cpkur",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Valtg']"
										},
										"sink": {
											"name": "Valtg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Valdt']"
										},
										"sink": {
											"name": "Valdt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zterm']"
										},
										"sink": {
											"name": "Zterm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zlsch']"
										},
										"sink": {
											"name": "Zlsch",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ktgrd']"
										},
										"sink": {
											"name": "Ktgrd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Land1']"
										},
										"sink": {
											"name": "Land1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Regio']"
										},
										"sink": {
											"name": "Regio",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Counc']"
										},
										"sink": {
											"name": "Counc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cityc']"
										},
										"sink": {
											"name": "Cityc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bukrs']"
										},
										"sink": {
											"name": "Bukrs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Taxk1']"
										},
										"sink": {
											"name": "Taxk1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Taxk2']"
										},
										"sink": {
											"name": "Taxk2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Taxk3']"
										},
										"sink": {
											"name": "Taxk3",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Taxk4']"
										},
										"sink": {
											"name": "Taxk4",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Taxk5']"
										},
										"sink": {
											"name": "Taxk5",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Taxk6']"
										},
										"sink": {
											"name": "Taxk6",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Taxk7']"
										},
										"sink": {
											"name": "Taxk7",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Taxk8']"
										},
										"sink": {
											"name": "Taxk8",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Taxk9']"
										},
										"sink": {
											"name": "Taxk9",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Netwr']"
										},
										"sink": {
											"name": "Netwr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zukri']"
										},
										"sink": {
											"name": "Zukri",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ernam']"
										},
										"sink": {
											"name": "Ernam",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Erzet']"
										},
										"sink": {
											"name": "Erzet",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Erdat']"
										},
										"sink": {
											"name": "Erdat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stafo']"
										},
										"sink": {
											"name": "Stafo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kunrg']"
										},
										"sink": {
											"name": "Kunrg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kunag']"
										},
										"sink": {
											"name": "Kunag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Maber']"
										},
										"sink": {
											"name": "Maber",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stwae']"
										},
										"sink": {
											"name": "Stwae",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stceg']"
										},
										"sink": {
											"name": "Stceg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Aedat']"
										},
										"sink": {
											"name": "Aedat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Sfakn']"
										},
										"sink": {
											"name": "Sfakn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Knuma']"
										},
										"sink": {
											"name": "Knuma",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FkartRl']"
										},
										"sink": {
											"name": "FkartRl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FkdatRl']"
										},
										"sink": {
											"name": "FkdatRl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kurst']"
										},
										"sink": {
											"name": "Kurst",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mschl']"
										},
										"sink": {
											"name": "Mschl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mansp']"
										},
										"sink": {
											"name": "Mansp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Spart']"
										},
										"sink": {
											"name": "Spart",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kkber']"
										},
										"sink": {
											"name": "Kkber",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Knkli']"
										},
										"sink": {
											"name": "Knkli",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cmwae']"
										},
										"sink": {
											"name": "Cmwae",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cmkuf']"
										},
										"sink": {
											"name": "Cmkuf",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['HitypPr']"
										},
										"sink": {
											"name": "HitypPr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['BstnkVf']"
										},
										"sink": {
											"name": "BstnkVf",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vbund']"
										},
										"sink": {
											"name": "Vbund",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FkartAb']"
										},
										"sink": {
											"name": "FkartAb",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kappl']"
										},
										"sink": {
											"name": "Kappl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Landtx']"
										},
										"sink": {
											"name": "Landtx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['StcegH']"
										},
										"sink": {
											"name": "StcegH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['StcegL']"
										},
										"sink": {
											"name": "StcegL",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Xblnr']"
										},
										"sink": {
											"name": "Xblnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zuonr']"
										},
										"sink": {
											"name": "Zuonr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mwsbk']"
										},
										"sink": {
											"name": "Mwsbk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Logsys']"
										},
										"sink": {
											"name": "Logsys",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Fksto']"
										},
										"sink": {
											"name": "Fksto",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Xegdr']"
										},
										"sink": {
											"name": "Xegdr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Rplnr']"
										},
										"sink": {
											"name": "Rplnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1afitp']"
										},
										"sink": {
											"name": "J1afitp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['KurrfDat']"
										},
										"sink": {
											"name": "KurrfDat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kidno']"
										},
										"sink": {
											"name": "Kidno",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bvtyp']"
										},
										"sink": {
											"name": "Bvtyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Numpg']"
										},
										"sink": {
											"name": "Numpg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bupla']"
										},
										"sink": {
											"name": "Bupla",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vkont']"
										},
										"sink": {
											"name": "Vkont",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FkkDocstat']"
										},
										"sink": {
											"name": "FkkDocstat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Nrzas']"
										},
										"sink": {
											"name": "Nrzas",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SpeBillingInd']"
										},
										"sink": {
											"name": "SpeBillingInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vtref']"
										},
										"sink": {
											"name": "Vtref",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FkSourceSys']"
										},
										"sink": {
											"name": "FkSourceSys",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FktypCrm']"
										},
										"sink": {
											"name": "FktypCrm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stgrd']"
										},
										"sink": {
											"name": "Stgrd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ChangedOn']"
										},
										"sink": {
											"name": "ChangedOn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Expkz']"
										},
										"sink": {
											"name": "Expkz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Exnum']"
										},
										"sink": {
											"name": "Exnum",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Akwae']"
										},
										"sink": {
											"name": "Akwae",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Akkur']"
										},
										"sink": {
											"name": "Akkur",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lcnum']"
										},
										"sink": {
											"name": "Lcnum",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Dataaging']"
										},
										"sink": {
											"name": "Dataaging",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Buchk']"
										},
										"sink": {
											"name": "Buchk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Gbstk']"
										},
										"sink": {
											"name": "Gbstk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Relik']"
										},
										"sink": {
											"name": "Relik",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Uvals']"
										},
										"sink": {
											"name": "Uvals",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Uvprs']"
										},
										"sink": {
											"name": "Uvprs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Fksak']"
										},
										"sink": {
											"name": "Fksak",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Fkara']"
										},
										"sink": {
											"name": "Fkara",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['VfStatus']"
										},
										"sink": {
											"name": "VfStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['VfTodo']"
										},
										"sink": {
											"name": "VfTodo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['BdrStatus']"
										},
										"sink": {
											"name": "BdrStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['BdrRef']"
										},
										"sink": {
											"name": "BdrRef",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['BdrRefLogsys']"
										},
										"sink": {
											"name": "BdrRefLogsys",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['BdrRefVbtyp']"
										},
										"sink": {
											"name": "BdrRefVbtyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PbdStatus']"
										},
										"sink": {
											"name": "PbdStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Abstk']"
										},
										"sink": {
											"name": "Abstk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Draft']"
										},
										"sink": {
											"name": "Draft",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Activedocument']"
										},
										"sink": {
											"name": "Activedocument",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Grwcu']"
										},
										"sink": {
											"name": "Grwcu",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Blart']"
										},
										"sink": {
											"name": "Blart",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['IntraRel']"
										},
										"sink": {
											"name": "IntraRel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['IntraExcl']"
										},
										"sink": {
											"name": "IntraExcl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Accrrel']"
										},
										"sink": {
											"name": "Accrrel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pspsd']"
										},
										"sink": {
											"name": "Pspsd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J1tpbupl']"
										},
										"sink": {
											"name": "J1tpbupl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Incov']"
										},
										"sink": {
											"name": "Incov",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inco2L']"
										},
										"sink": {
											"name": "Inco2L",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inco3L']"
										},
										"sink": {
											"name": "Inco3L",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SdmVersion']"
										},
										"sink": {
											"name": "SdmVersion",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['DummyBillingdocInclEewPs']"
										},
										"sink": {
											"name": "DummyBillingdocInclEewPs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['GloLogRef1Hd']"
										},
										"sink": {
											"name": "GloLogRef1Hd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zapcgkh']"
										},
										"sink": {
											"name": "Zapcgkh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ApcgkExtendh']"
										},
										"sink": {
											"name": "ApcgkExtendh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zabdath']"
										},
										"sink": {
											"name": "Zabdath",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['DpcRel']"
										},
										"sink": {
											"name": "DpcRel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ad01basdoc']"
										},
										"sink": {
											"name": "Ad01basdoc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ad01fareg']"
										},
										"sink": {
											"name": "Ad01fareg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vchrnmbr']"
										},
										"sink": {
											"name": "Vchrnmbr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J3gkbaul']"
										},
										"sink": {
											"name": "J3gkbaul",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['J3gkenie']"
										},
										"sink": {
											"name": "J3gkenie",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kunwe']"
										},
										"sink": {
											"name": "Kunwe",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mndid']"
										},
										"sink": {
											"name": "Mndid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PayType']"
										},
										"sink": {
											"name": "PayType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Sepon']"
										},
										"sink": {
											"name": "Sepon",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mndvg']"
										},
										"sink": {
											"name": "Mndvg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Sppaym']"
										},
										"sink": {
											"name": "Sppaym",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Sppord']"
										},
										"sink": {
											"name": "Sppord",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['d']['results']"
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPVBRK",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPVBRK_FILE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MaterialDataExtraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyMARAData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Mandt']"
										},
										"sink": {
											"name": "Mandt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Matnr']"
										},
										"sink": {
											"name": "Matnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ersda']"
										},
										"sink": {
											"name": "Ersda",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['CreatedAtTime']"
										},
										"sink": {
											"name": "CreatedAtTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ernam']"
										},
										"sink": {
											"name": "Ernam",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Laeda']"
										},
										"sink": {
											"name": "Laeda",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Aenam']"
										},
										"sink": {
											"name": "Aenam",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vpsta']"
										},
										"sink": {
											"name": "Vpsta",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pstat']"
										},
										"sink": {
											"name": "Pstat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Lvorm']"
										},
										"sink": {
											"name": "Lvorm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mtart']"
										},
										"sink": {
											"name": "Mtart",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mbrsh']"
										},
										"sink": {
											"name": "Mbrsh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Matkl']"
										},
										"sink": {
											"name": "Matkl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bismt']"
										},
										"sink": {
											"name": "Bismt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Meins']"
										},
										"sink": {
											"name": "Meins",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bstme']"
										},
										"sink": {
											"name": "Bstme",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zeinr']"
										},
										"sink": {
											"name": "Zeinr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zeiar']"
										},
										"sink": {
											"name": "Zeiar",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zeivr']"
										},
										"sink": {
											"name": "Zeivr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Zeifo']"
										},
										"sink": {
											"name": "Zeifo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Aeszn']"
										},
										"sink": {
											"name": "Aeszn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Blatt']"
										},
										"sink": {
											"name": "Blatt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Blanz']"
										},
										"sink": {
											"name": "Blanz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ferth']"
										},
										"sink": {
											"name": "Ferth",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Formt']"
										},
										"sink": {
											"name": "Formt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Groes']"
										},
										"sink": {
											"name": "Groes",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Wrkst']"
										},
										"sink": {
											"name": "Wrkst",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Normt']"
										},
										"sink": {
											"name": "Normt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Labor']"
										},
										"sink": {
											"name": "Labor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ekwsl']"
										},
										"sink": {
											"name": "Ekwsl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Brgew']"
										},
										"sink": {
											"name": "Brgew",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ntgew']"
										},
										"sink": {
											"name": "Ntgew",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Gewei']"
										},
										"sink": {
											"name": "Gewei",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Volum']"
										},
										"sink": {
											"name": "Volum",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Voleh']"
										},
										"sink": {
											"name": "Voleh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Behvo']"
										},
										"sink": {
											"name": "Behvo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Raube']"
										},
										"sink": {
											"name": "Raube",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Tempb']"
										},
										"sink": {
											"name": "Tempb",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Disst']"
										},
										"sink": {
											"name": "Disst",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Tragr']"
										},
										"sink": {
											"name": "Tragr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stoff']"
										},
										"sink": {
											"name": "Stoff",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Spart']"
										},
										"sink": {
											"name": "Spart",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kunnr']"
										},
										"sink": {
											"name": "Kunnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Eannr']"
										},
										"sink": {
											"name": "Eannr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Wesch']"
										},
										"sink": {
											"name": "Wesch",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bwvor']"
										},
										"sink": {
											"name": "Bwvor",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bwscl']"
										},
										"sink": {
											"name": "Bwscl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Saiso']"
										},
										"sink": {
											"name": "Saiso",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Etiar']"
										},
										"sink": {
											"name": "Etiar",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Etifo']"
										},
										"sink": {
											"name": "Etifo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Entar']"
										},
										"sink": {
											"name": "Entar",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ean11']"
										},
										"sink": {
											"name": "Ean11",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Numtp']"
										},
										"sink": {
											"name": "Numtp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Laeng']"
										},
										"sink": {
											"name": "Laeng",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Breit']"
										},
										"sink": {
											"name": "Breit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Hoehe']"
										},
										"sink": {
											"name": "Hoehe",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Meabm']"
										},
										"sink": {
											"name": "Meabm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Prdha']"
										},
										"sink": {
											"name": "Prdha",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Aeklk']"
										},
										"sink": {
											"name": "Aeklk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cadkz']"
										},
										"sink": {
											"name": "Cadkz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Qmpur']"
										},
										"sink": {
											"name": "Qmpur",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ergew']"
										},
										"sink": {
											"name": "Ergew",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ergei']"
										},
										"sink": {
											"name": "Ergei",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ervol']"
										},
										"sink": {
											"name": "Ervol",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ervoe']"
										},
										"sink": {
											"name": "Ervoe",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Gewto']"
										},
										"sink": {
											"name": "Gewto",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Volto']"
										},
										"sink": {
											"name": "Volto",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vabme']"
										},
										"sink": {
											"name": "Vabme",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kzrev']"
										},
										"sink": {
											"name": "Kzrev",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kzkfg']"
										},
										"sink": {
											"name": "Kzkfg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Xchpf']"
										},
										"sink": {
											"name": "Xchpf",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vhart']"
										},
										"sink": {
											"name": "Vhart",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Fuelg']"
										},
										"sink": {
											"name": "Fuelg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Stfak']"
										},
										"sink": {
											"name": "Stfak",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Magrv']"
										},
										"sink": {
											"name": "Magrv",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Begru']"
										},
										"sink": {
											"name": "Begru",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Datab']"
										},
										"sink": {
											"name": "Datab",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Liqdt']"
										},
										"sink": {
											"name": "Liqdt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Saisj']"
										},
										"sink": {
											"name": "Saisj",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Plgtp']"
										},
										"sink": {
											"name": "Plgtp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mlgut']"
										},
										"sink": {
											"name": "Mlgut",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Extwg']"
										},
										"sink": {
											"name": "Extwg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Satnr']"
										},
										"sink": {
											"name": "Satnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Attyp']"
										},
										"sink": {
											"name": "Attyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kzkup']"
										},
										"sink": {
											"name": "Kzkup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kznfm']"
										},
										"sink": {
											"name": "Kznfm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pmata']"
										},
										"sink": {
											"name": "Pmata",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mstae']"
										},
										"sink": {
											"name": "Mstae",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mstav']"
										},
										"sink": {
											"name": "Mstav",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mstde']"
										},
										"sink": {
											"name": "Mstde",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mstdv']"
										},
										"sink": {
											"name": "Mstdv",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Taklv']"
										},
										"sink": {
											"name": "Taklv",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Rbnrm']"
										},
										"sink": {
											"name": "Rbnrm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mhdrz']"
										},
										"sink": {
											"name": "Mhdrz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mhdhb']"
										},
										"sink": {
											"name": "Mhdhb",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mhdlp']"
										},
										"sink": {
											"name": "Mhdlp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inhme']"
										},
										"sink": {
											"name": "Inhme",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inhal']"
										},
										"sink": {
											"name": "Inhal",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Vpreh']"
										},
										"sink": {
											"name": "Vpreh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Etiag']"
										},
										"sink": {
											"name": "Etiag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Inhbr']"
										},
										"sink": {
											"name": "Inhbr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cmeth']"
										},
										"sink": {
											"name": "Cmeth",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cuobf']"
										},
										"sink": {
											"name": "Cuobf",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kzumw']"
										},
										"sink": {
											"name": "Kzumw",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kosch']"
										},
										"sink": {
											"name": "Kosch",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Sprof']"
										},
										"sink": {
											"name": "Sprof",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Nrfhg']"
										},
										"sink": {
											"name": "Nrfhg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mfrpn']"
										},
										"sink": {
											"name": "Mfrpn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mfrnr']"
										},
										"sink": {
											"name": "Mfrnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bmatn']"
										},
										"sink": {
											"name": "Bmatn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mprof']"
										},
										"sink": {
											"name": "Mprof",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kzwsm']"
										},
										"sink": {
											"name": "Kzwsm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Saity']"
										},
										"sink": {
											"name": "Saity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Profl']"
										},
										"sink": {
											"name": "Profl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ihivi']"
										},
										"sink": {
											"name": "Ihivi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Iloos']"
										},
										"sink": {
											"name": "Iloos",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Serlv']"
										},
										"sink": {
											"name": "Serlv",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kzgvh']"
										},
										"sink": {
											"name": "Kzgvh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Xgchp']"
										},
										"sink": {
											"name": "Xgchp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Kzeff']"
										},
										"sink": {
											"name": "Kzeff",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Compl']"
										},
										"sink": {
											"name": "Compl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Iprkz']"
										},
										"sink": {
											"name": "Iprkz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Rdmhd']"
										},
										"sink": {
											"name": "Rdmhd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Przus']"
										},
										"sink": {
											"name": "Przus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['MtposMara']"
										},
										"sink": {
											"name": "MtposMara",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bflme']"
										},
										"sink": {
											"name": "Bflme",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Matfi']"
										},
										"sink": {
											"name": "Matfi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cmrel']"
										},
										"sink": {
											"name": "Cmrel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bbtyp']"
										},
										"sink": {
											"name": "Bbtyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SledBbd']"
										},
										"sink": {
											"name": "SledBbd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['GtinVariant']"
										},
										"sink": {
											"name": "GtinVariant",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Gennr']"
										},
										"sink": {
											"name": "Gennr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Rmatp']"
										},
										"sink": {
											"name": "Rmatp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['GdsRelevant']"
										},
										"sink": {
											"name": "GdsRelevant",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Weora']"
										},
										"sink": {
											"name": "Weora",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['HutypDflt']"
										},
										"sink": {
											"name": "HutypDflt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Pilferable']"
										},
										"sink": {
											"name": "Pilferable",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Whstc']"
										},
										"sink": {
											"name": "Whstc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Whmatgr']"
										},
										"sink": {
											"name": "Whmatgr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Hndlcode']"
										},
										"sink": {
											"name": "Hndlcode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Hazmat']"
										},
										"sink": {
											"name": "Hazmat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Hutyp']"
										},
										"sink": {
											"name": "Hutyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['TareVar']"
										},
										"sink": {
											"name": "TareVar",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Maxc']"
										},
										"sink": {
											"name": "Maxc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['MaxcTol']"
										},
										"sink": {
											"name": "MaxcTol",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Maxl']"
										},
										"sink": {
											"name": "Maxl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Maxb']"
										},
										"sink": {
											"name": "Maxb",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Maxh']"
										},
										"sink": {
											"name": "Maxh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['MaxdimUom']"
										},
										"sink": {
											"name": "MaxdimUom",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Herkl']"
										},
										"sink": {
											"name": "Herkl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mfrgr']"
										},
										"sink": {
											"name": "Mfrgr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Qqtime']"
										},
										"sink": {
											"name": "Qqtime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Qqtimeuom']"
										},
										"sink": {
											"name": "Qqtimeuom",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Qgrp']"
										},
										"sink": {
											"name": "Qgrp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Serial']"
										},
										"sink": {
											"name": "Serial",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PsSmartform']"
										},
										"sink": {
											"name": "PsSmartform",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Logunit']"
										},
										"sink": {
											"name": "Logunit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cwqrel']"
										},
										"sink": {
											"name": "Cwqrel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cwqproc']"
										},
										"sink": {
											"name": "Cwqproc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Cwqtolgr']"
										},
										"sink": {
											"name": "Cwqtolgr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Adprof']"
										},
										"sink": {
											"name": "Adprof",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ipmipproduct']"
										},
										"sink": {
											"name": "Ipmipproduct",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['AllowPmatIgno']"
										},
										"sink": {
											"name": "AllowPmatIgno",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Medium']"
										},
										"sink": {
											"name": "Medium",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Commodity']"
										},
										"sink": {
											"name": "Commodity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['AnimalOrigin']"
										},
										"sink": {
											"name": "AnimalOrigin",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['TextileCompInd']"
										},
										"sink": {
											"name": "TextileCompInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['LastChangedTime']"
										},
										"sink": {
											"name": "LastChangedTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['MatnrExternal']"
										},
										"sink": {
											"name": "MatnrExternal",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ChmlCmplncRlvnceInd']"
										},
										"sink": {
											"name": "ChmlCmplncRlvnceInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['LogisticalMatCategory']"
										},
										"sink": {
											"name": "LogisticalMatCategory",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SalesMaterial']"
										},
										"sink": {
											"name": "SalesMaterial",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['IdentificationTagType']"
										},
										"sink": {
											"name": "IdentificationTagType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SgtCsgr']"
										},
										"sink": {
											"name": "SgtCsgr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SgtCovsa']"
										},
										"sink": {
											"name": "SgtCovsa",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SgtStat']"
										},
										"sink": {
											"name": "SgtStat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SgtScope']"
										},
										"sink": {
											"name": "SgtScope",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SgtRel']"
										},
										"sink": {
											"name": "SgtRel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Anp']"
										},
										"sink": {
											"name": "Anp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PsmCode']"
										},
										"sink": {
											"name": "PsmCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshMgAt1']"
										},
										"sink": {
											"name": "FshMgAt1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshMgAt2']"
										},
										"sink": {
											"name": "FshMgAt2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshMgAt3']"
										},
										"sink": {
											"name": "FshMgAt3",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshSealv']"
										},
										"sink": {
											"name": "FshSealv",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshSeaim']"
										},
										"sink": {
											"name": "FshSeaim",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FshScMid']"
										},
										"sink": {
											"name": "FshScMid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['DummyPrdInclEewPs']"
										},
										"sink": {
											"name": "DummyPrdInclEewPs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmMatidGuid16']"
										},
										"sink": {
											"name": "ScmMatidGuid16",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmMatidGuid22']"
										},
										"sink": {
											"name": "ScmMatidGuid22",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmMaturityDur']"
										},
										"sink": {
											"name": "ScmMaturityDur",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmShlfLfeReqMin']"
										},
										"sink": {
											"name": "ScmShlfLfeReqMin",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmShlfLfeReqMax']"
										},
										"sink": {
											"name": "ScmShlfLfeReqMax",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmPuom']"
										},
										"sink": {
											"name": "ScmPuom",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['RmatpPb']"
										},
										"sink": {
											"name": "RmatpPb",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ProdShape']"
										},
										"sink": {
											"name": "ProdShape",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['MoProfileId']"
										},
										"sink": {
											"name": "MoProfileId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['OverhangTresh']"
										},
										"sink": {
											"name": "OverhangTresh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['BridgeTresh']"
										},
										"sink": {
											"name": "BridgeTresh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['BridgeMaxSlope']"
										},
										"sink": {
											"name": "BridgeMaxSlope",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['HeightNonflat']"
										},
										"sink": {
											"name": "HeightNonflat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['HeightNonflatUom']"
										},
										"sink": {
											"name": "HeightNonflatUom",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmKitcomp']"
										},
										"sink": {
											"name": "ScmKitcomp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmProdPaoopt']"
										},
										"sink": {
											"name": "ScmProdPaoopt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmBodDeplvl']"
										},
										"sink": {
											"name": "ScmBodDeplvl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmRestrictInvbal']"
										},
										"sink": {
											"name": "ScmRestrictInvbal",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmDrpGlStock']"
										},
										"sink": {
											"name": "ScmDrpGlStock",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ScmExclExpedite']"
										},
										"sink": {
											"name": "ScmExclExpedite",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['cwm_xcwmat']"
										},
										"sink": {
											"name": "cwm_xcwmat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['cwm_valum']"
										},
										"sink": {
											"name": "cwm_valum",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['cwm_tolgr']"
										},
										"sink": {
											"name": "cwm_tolgr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['cwm_tara']"
										},
										"sink": {
											"name": "cwm_tara",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['cwm_tarum']"
										},
										"sink": {
											"name": "cwm_tarum",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['bev1_luleinh']"
										},
										"sink": {
											"name": "bev1_luleinh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['bev1_luldegrp']"
										},
										"sink": {
											"name": "bev1_luldegrp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['bev1_nestruccat']"
										},
										"sink": {
											"name": "bev1_nestruccat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['dsd_slToltyp']"
										},
										"sink": {
											"name": "dsd_slToltyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['dsd_svCntGrp']"
										},
										"sink": {
											"name": "dsd_svCntGrp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['dsd_vcGroup']"
										},
										"sink": {
											"name": "dsd_vcGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_kadu']"
										},
										"sink": {
											"name": "sapmp_kadu",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_abmein']"
										},
										"sink": {
											"name": "sapmp_abmein",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_kadp']"
										},
										"sink": {
											"name": "sapmp_kadp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_brad']"
										},
										"sink": {
											"name": "sapmp_brad",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_spbi']"
										},
										"sink": {
											"name": "sapmp_spbi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_trad']"
										},
										"sink": {
											"name": "sapmp_trad",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_kedu']"
										},
										"sink": {
											"name": "sapmp_kedu",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_sptr']"
										},
										"sink": {
											"name": "sapmp_sptr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_fbdk']"
										},
										"sink": {
											"name": "sapmp_fbdk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_fbhk']"
										},
										"sink": {
											"name": "sapmp_fbhk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_rili']"
										},
										"sink": {
											"name": "sapmp_rili",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_fbak']"
										},
										"sink": {
											"name": "sapmp_fbak",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_aho']"
										},
										"sink": {
											"name": "sapmp_aho",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapmp_mifrr']"
										},
										"sink": {
											"name": "sapmp_mifrr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sttpec_sertype']"
										},
										"sink": {
											"name": "sttpec_sertype",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sttpec_syncact']"
										},
										"sink": {
											"name": "sttpec_syncact",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sttpec_synctime']"
										},
										"sink": {
											"name": "sttpec_synctime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sttpec_syncchg']"
										},
										"sink": {
											"name": "sttpec_syncchg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sttpec_countryRef']"
										},
										"sink": {
											"name": "sttpec_countryRef",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sttpec_prdcat']"
										},
										"sink": {
											"name": "sttpec_prdcat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rTiltInd']"
										},
										"sink": {
											"name": "vso_rTiltInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rStackInd']"
										},
										"sink": {
											"name": "vso_rStackInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rBotInd']"
										},
										"sink": {
											"name": "vso_rBotInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rTopInd']"
										},
										"sink": {
											"name": "vso_rTopInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rStackNo']"
										},
										"sink": {
											"name": "vso_rStackNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rPalInd']"
										},
										"sink": {
											"name": "vso_rPalInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rPalOvrD']"
										},
										"sink": {
											"name": "vso_rPalOvrD",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rPalOvrW']"
										},
										"sink": {
											"name": "vso_rPalOvrW",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rPalBHt']"
										},
										"sink": {
											"name": "vso_rPalBHt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rPalMinH']"
										},
										"sink": {
											"name": "vso_rPalMinH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rTolBHt']"
										},
										"sink": {
											"name": "vso_rTolBHt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rNoPGvh']"
										},
										"sink": {
											"name": "vso_rNoPGvh",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rQuanUnit']"
										},
										"sink": {
											"name": "vso_rQuanUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['vso_rKzgvhInd']"
										},
										"sink": {
											"name": "vso_rKzgvhInd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Packcode']"
										},
										"sink": {
											"name": "Packcode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['DgPackStatus']"
										},
										"sink": {
											"name": "DgPackStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SrvDura']"
										},
										"sink": {
											"name": "SrvDura",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SrvDuraUom']"
										},
										"sink": {
											"name": "SrvDuraUom",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SrvSerwi']"
										},
										"sink": {
											"name": "SrvSerwi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SrvEscal']"
										},
										"sink": {
											"name": "SrvEscal",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SomCycle']"
										},
										"sink": {
											"name": "SomCycle",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SomCycleRule']"
										},
										"sink": {
											"name": "SomCycleRule",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['SomTcSchema']"
										},
										"sink": {
											"name": "SomTcSchema",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mcond']"
										},
										"sink": {
											"name": "Mcond",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Retdelc']"
										},
										"sink": {
											"name": "Retdelc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['LoglevReto']"
										},
										"sink": {
											"name": "LoglevReto",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Nsnid']"
										},
										"sink": {
											"name": "Nsnid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Icfa']"
										},
										"sink": {
											"name": "Icfa",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['RicId']"
										},
										"sink": {
											"name": "RicId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Ovlpn']"
										},
										"sink": {
											"name": "Ovlpn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['AdspcSpc']"
										},
										"sink": {
											"name": "AdspcSpc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Varid']"
										},
										"sink": {
											"name": "Varid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Msbookpartno']"
										},
										"sink": {
											"name": "Msbookpartno",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Dpcbt']"
										},
										"sink": {
											"name": "Dpcbt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Xgrdt']"
										},
										"sink": {
											"name": "Xgrdt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Imatn']"
										},
										"sink": {
											"name": "Imatn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Picnum']"
										},
										"sink": {
											"name": "Picnum",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Bstat']"
										},
										"sink": {
											"name": "Bstat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['ColorAtinn']"
										},
										"sink": {
											"name": "ColorAtinn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Size1Atinn']"
										},
										"sink": {
											"name": "Size1Atinn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Size2Atinn']"
										},
										"sink": {
											"name": "Size2Atinn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Color']"
										},
										"sink": {
											"name": "Color",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Size1']"
										},
										"sink": {
											"name": "Size1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Size2']"
										},
										"sink": {
											"name": "Size2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FreeChar']"
										},
										"sink": {
											"name": "FreeChar",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['CareCode']"
										},
										"sink": {
											"name": "CareCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['BrandId']"
										},
										"sink": {
											"name": "BrandId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberCode1']"
										},
										"sink": {
											"name": "FiberCode1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberPart1']"
										},
										"sink": {
											"name": "FiberPart1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberCode2']"
										},
										"sink": {
											"name": "FiberCode2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberPart2']"
										},
										"sink": {
											"name": "FiberPart2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberCode3']"
										},
										"sink": {
											"name": "FiberCode3",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberPart3']"
										},
										"sink": {
											"name": "FiberPart3",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberCode4']"
										},
										"sink": {
											"name": "FiberCode4",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberPart4']"
										},
										"sink": {
											"name": "FiberPart4",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberCode5']"
										},
										"sink": {
											"name": "FiberCode5",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['FiberPart5']"
										},
										"sink": {
											"name": "FiberPart5",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Fashgrd']"
										},
										"sink": {
											"name": "Fashgrd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapce_iuuaLoelct']"
										},
										"sink": {
											"name": "sapce_iuuaLoelct",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sapce_iuuaElcaKeyvalue']"
										},
										"sink": {
											"name": "sapce_iuuaElcaKeyvalue",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['d']['results']"
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPMARA",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPMARA_FILE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MaterialFactoryDataExtraction",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyMARAData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MaterialFactoryDataExtraction",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPDataExtraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SalesDataExtraction",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SalesDataExtraction",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PurchaseDataExtraction",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SalesDataExtraction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PurchaseDataExtraction",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DeliveryNotesDataExtraction",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PurchaseDataExtraction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DeliveryNotesDataExtraction",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RestInventoryDataExtraction",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DeliveryNotesDataExtraction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "RestInventoryDataExtraction",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SAP_OBJKDataExtraction",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RestInventoryDataExtraction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SAP_OBJKDataExtraction",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SAP_SER01DataExtraction",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SAP_OBJKDataExtraction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SAP_SER01DataExtraction",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/per4hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SyncS4_SAPDeliveries_pre4hour",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 4,
						"startTime": "2022-12-21T23:57:00",
						"timeZone": "China Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerPerDayEvening')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SAPBillingDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-09-13T02:06:00",
						"timeZone": "China Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								19
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SAPBillingDataExtraction')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerPerDay')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ProductLineDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "VendorDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "FinancialSHKVoucherDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "SAPMasterDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "FinancialExpense_SHKSJNSWXDataExtraction_copy1",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "MaterialDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "FinancialDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2023-03-22T05:35:00",
						"timeZone": "China Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MaterialDataExtraction')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerPerOneHour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ProductDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "AnnualContractDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "SAPDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "DealerMasterDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "FinancialSCH_FOCDataExtraction",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2023-03-16T15:00:00",
						"timeZone": "China Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SAPDataExtraction')]"
			]
		}
	]
}