sysmexdatafactoryencrypted/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "sysmexdatafactoryencrypted"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SAPEKKO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SAPOData",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "/sap/opu/odata/sap/ZPTP_GBL_API_EKKO_SRV/EKKOSet?sap-client=110&$format=json",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_SAPProductPrice')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SourceDataset_SAPProductPrice",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "/v1/mdg/GetProductListFromSAP",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PurchaseDataExtraction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyEKKOData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['d']['results'][0]['Mandt']"
										},
										"sink": {
											"name": "Mandt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Ebeln']"
										},
										"sink": {
											"name": "Ebeln",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Bukrs']"
										},
										"sink": {
											"name": "Bukrs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Bstyp']"
										},
										"sink": {
											"name": "Bstyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Bsart']"
										},
										"sink": {
											"name": "Bsart",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Bsakz']"
										},
										"sink": {
											"name": "Bsakz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Loekz']"
										},
										"sink": {
											"name": "Loekz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Statu']"
										},
										"sink": {
											"name": "Statu",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Aedat']"
										},
										"sink": {
											"name": "Aedat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Ernam']"
										},
										"sink": {
											"name": "Ernam",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Lastchangedatetime']"
										},
										"sink": {
											"name": "Lastchangedatetime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Pincr']"
										},
										"sink": {
											"name": "Pincr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Lponr']"
										},
										"sink": {
											"name": "Lponr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Lifnr']"
										},
										"sink": {
											"name": "Lifnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Spras']"
										},
										"sink": {
											"name": "Spras",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Zterm']"
										},
										"sink": {
											"name": "Zterm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Zbd1t']"
										},
										"sink": {
											"name": "Zbd1t",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Zbd2t']"
										},
										"sink": {
											"name": "Zbd2t",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Zbd3t']"
										},
										"sink": {
											"name": "Zbd3t",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Zbd1p']"
										},
										"sink": {
											"name": "Zbd1p",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Zbd2p']"
										},
										"sink": {
											"name": "Zbd2p",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Ekorg']"
										},
										"sink": {
											"name": "Ekorg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Ekgrp']"
										},
										"sink": {
											"name": "Ekgrp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Waers']"
										},
										"sink": {
											"name": "Waers",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Wkurs']"
										},
										"sink": {
											"name": "Wkurs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Kufix']"
										},
										"sink": {
											"name": "Kufix",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Bedat']"
										},
										"sink": {
											"name": "Bedat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Kdatb']"
										},
										"sink": {
											"name": "Kdatb",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Kdate']"
										},
										"sink": {
											"name": "Kdate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Bwbdt']"
										},
										"sink": {
											"name": "Bwbdt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Angdt']"
										},
										"sink": {
											"name": "Angdt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Bnddt']"
										},
										"sink": {
											"name": "Bnddt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Gwldt']"
										},
										"sink": {
											"name": "Gwldt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Ausnr']"
										},
										"sink": {
											"name": "Ausnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Angnr']"
										},
										"sink": {
											"name": "Angnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Ihran']"
										},
										"sink": {
											"name": "Ihran",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Ihrez']"
										},
										"sink": {
											"name": "Ihrez",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Verkf']"
										},
										"sink": {
											"name": "Verkf",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Telf1']"
										},
										"sink": {
											"name": "Telf1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Llief']"
										},
										"sink": {
											"name": "Llief",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Kunnr']"
										},
										"sink": {
											"name": "Kunnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Konnr']"
										},
										"sink": {
											"name": "Konnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Abgru']"
										},
										"sink": {
											"name": "Abgru",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Autlf']"
										},
										"sink": {
											"name": "Autlf",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Weakt']"
										},
										"sink": {
											"name": "Weakt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Reswk']"
										},
										"sink": {
											"name": "Reswk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Lblif']"
										},
										"sink": {
											"name": "Lblif",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Inco1']"
										},
										"sink": {
											"name": "Inco1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Inco2']"
										},
										"sink": {
											"name": "Inco2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Ktwrt']"
										},
										"sink": {
											"name": "Ktwrt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Distributiontype']"
										},
										"sink": {
											"name": "Distributiontype",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Submi']"
										},
										"sink": {
											"name": "Submi",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Knumv']"
										},
										"sink": {
											"name": "Knumv",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Kalsm']"
										},
										"sink": {
											"name": "Kalsm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Stafo']"
										},
										"sink": {
											"name": "Stafo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Lifre']"
										},
										"sink": {
											"name": "Lifre",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Exnum']"
										},
										"sink": {
											"name": "Exnum",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Unsez']"
										},
										"sink": {
											"name": "Unsez",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Logsy']"
										},
										"sink": {
											"name": "Logsy",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Upinc']"
										},
										"sink": {
											"name": "Upinc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Stako']"
										},
										"sink": {
											"name": "Stako",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Frggr']"
										},
										"sink": {
											"name": "Frggr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Frgsx']"
										},
										"sink": {
											"name": "Frgsx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Frgke']"
										},
										"sink": {
											"name": "Frgke",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Frgzu']"
										},
										"sink": {
											"name": "Frgzu",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Frgrl']"
										},
										"sink": {
											"name": "Frgrl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Lands']"
										},
										"sink": {
											"name": "Lands",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Lphis']"
										},
										"sink": {
											"name": "Lphis",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Adrnr']"
										},
										"sink": {
											"name": "Adrnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['StcegL']"
										},
										"sink": {
											"name": "StcegL",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Stceg']"
										},
										"sink": {
											"name": "Stceg",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Absgr']"
										},
										"sink": {
											"name": "Absgr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Addnr']"
										},
										"sink": {
											"name": "Addnr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Kornr']"
										},
										"sink": {
											"name": "Kornr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Memory']"
										},
										"sink": {
											"name": "Memory",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Procstat']"
										},
										"sink": {
											"name": "Procstat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Rlwrt']"
										},
										"sink": {
											"name": "Rlwrt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Revno']"
										},
										"sink": {
											"name": "Revno",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Scmproc']"
										},
										"sink": {
											"name": "Scmproc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['ReasonCode']"
										},
										"sink": {
											"name": "ReasonCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Memorytype']"
										},
										"sink": {
											"name": "Memorytype",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Rettp']"
										},
										"sink": {
											"name": "Rettp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Retpc']"
										},
										"sink": {
											"name": "Retpc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Dptyp']"
										},
										"sink": {
											"name": "Dptyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Dppct']"
										},
										"sink": {
											"name": "Dppct",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Dpamt']"
										},
										"sink": {
											"name": "Dpamt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Dpdat']"
										},
										"sink": {
											"name": "Dpdat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['MsrId']"
										},
										"sink": {
											"name": "MsrId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['HierarchyExists']"
										},
										"sink": {
											"name": "HierarchyExists",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['ThresholdExists']"
										},
										"sink": {
											"name": "ThresholdExists",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['LegalContract']"
										},
										"sink": {
											"name": "LegalContract",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Description']"
										},
										"sink": {
											"name": "Description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['ReleaseDate']"
										},
										"sink": {
											"name": "ReleaseDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Vsart']"
										},
										"sink": {
											"name": "Vsart",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Handoverloc']"
										},
										"sink": {
											"name": "Handoverloc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Shipcond']"
										},
										"sink": {
											"name": "Shipcond",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Incov']"
										},
										"sink": {
											"name": "Incov",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Inco2L']"
										},
										"sink": {
											"name": "Inco2L",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Inco3L']"
										},
										"sink": {
											"name": "Inco3L",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Grwcu']"
										},
										"sink": {
											"name": "Grwcu",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['IntraRel']"
										},
										"sink": {
											"name": "IntraRel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['IntraExcl']"
										},
										"sink": {
											"name": "IntraExcl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['QtnErlstSubmsnDate']"
										},
										"sink": {
											"name": "QtnErlstSubmsnDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['FollowonDocCat']"
										},
										"sink": {
											"name": "FollowonDocCat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['FollowonDocType']"
										},
										"sink": {
											"name": "FollowonDocType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['DummyEkkoInclEewPs']"
										},
										"sink": {
											"name": "DummyEkkoInclEewPs",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Externalsystem']"
										},
										"sink": {
											"name": "Externalsystem",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Externalreferenceid']"
										},
										"sink": {
											"name": "Externalreferenceid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['ExtRevTmstmp']"
										},
										"sink": {
											"name": "ExtRevTmstmp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Iseopblocked']"
										},
										"sink": {
											"name": "Iseopblocked",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Isaged']"
										},
										"sink": {
											"name": "Isaged",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['ForceId']"
										},
										"sink": {
											"name": "ForceId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['ForceCnt']"
										},
										"sink": {
											"name": "ForceCnt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['RelocId']"
										},
										"sink": {
											"name": "RelocId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['RelocSeqId']"
										},
										"sink": {
											"name": "RelocSeqId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['SourceLogsys']"
										},
										"sink": {
											"name": "SourceLogsys",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['FshTransaction']"
										},
										"sink": {
											"name": "FshTransaction",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['FshItemGroup']"
										},
										"sink": {
											"name": "FshItemGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['FshVasLastItem']"
										},
										"sink": {
											"name": "FshVasLastItem",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['FshOsStgChange']"
										},
										"sink": {
											"name": "FshOsStgChange",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['TmsRefUuid']"
										},
										"sink": {
											"name": "TmsRefUuid",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Zapcgk']"
										},
										"sink": {
											"name": "Zapcgk",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['ApcgkExtend']"
										},
										"sink": {
											"name": "ApcgkExtend",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['ZbasDate']"
										},
										"sink": {
											"name": "ZbasDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Zadattyp']"
										},
										"sink": {
											"name": "Zadattyp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['ZstartDat']"
										},
										"sink": {
											"name": "ZstartDat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['ZDev']"
										},
										"sink": {
											"name": "ZDev",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Zindanx']"
										},
										"sink": {
											"name": "Zindanx",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['ZlimitDat']"
										},
										"sink": {
											"name": "ZlimitDat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Numerator']"
										},
										"sink": {
											"name": "Numerator",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['HashcalBdat']"
										},
										"sink": {
											"name": "HashcalBdat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Hashcal']"
										},
										"sink": {
											"name": "Hashcal",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Negative']"
										},
										"sink": {
											"name": "Negative",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['HashcalExists']"
										},
										"sink": {
											"name": "HashcalExists",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['KnownIndex']"
										},
										"sink": {
											"name": "KnownIndex",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Postat']"
										},
										"sink": {
											"name": "Postat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Vzskz']"
										},
										"sink": {
											"name": "Vzskz",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['FshSnstStatus']"
										},
										"sink": {
											"name": "FshSnstStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Proce']"
										},
										"sink": {
											"name": "Proce",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Conc']"
										},
										"sink": {
											"name": "Conc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Cont']"
										},
										"sink": {
											"name": "Cont",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Comp']"
										},
										"sink": {
											"name": "Comp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Outr']"
										},
										"sink": {
											"name": "Outr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Desp']"
										},
										"sink": {
											"name": "Desp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['DespDat']"
										},
										"sink": {
											"name": "DespDat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['DespCargo']"
										},
										"sink": {
											"name": "DespCargo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Pare']"
										},
										"sink": {
											"name": "Pare",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['PareDat']"
										},
										"sink": {
											"name": "PareDat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['PareCargo']"
										},
										"sink": {
											"name": "PareCargo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['PfmContract']"
										},
										"sink": {
											"name": "PfmContract"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['PohfType']"
										},
										"sink": {
											"name": "PohfType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['EqEindt']"
										},
										"sink": {
											"name": "EqEindt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['EqWerks']"
										},
										"sink": {
											"name": "EqWerks",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['Fixpo']"
										},
										"sink": {
											"name": "Fixpo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['EkgrpAllow']"
										},
										"sink": {
											"name": "EkgrpAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['WerksAllow']"
										},
										"sink": {
											"name": "WerksAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['ContractAllow']"
										},
										"sink": {
											"name": "ContractAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['PstypAllow']"
										},
										"sink": {
											"name": "PstypAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['FixpoAllow']"
										},
										"sink": {
											"name": "FixpoAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['KeyIdAllow']"
										},
										"sink": {
											"name": "KeyIdAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['AurelAllow']"
										},
										"sink": {
											"name": "AurelAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['DelperAllow']"
										},
										"sink": {
											"name": "DelperAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['EindtAllow']"
										},
										"sink": {
											"name": "EindtAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['LtsnrAllow']"
										},
										"sink": {
											"name": "LtsnrAllow",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['OtbLevel']"
										},
										"sink": {
											"name": "OtbLevel",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['OtbCondType']"
										},
										"sink": {
											"name": "OtbCondType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['KeyId']"
										},
										"sink": {
											"name": "KeyId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['OtbValue']"
										},
										"sink": {
											"name": "OtbValue",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['OtbCurr']"
										},
										"sink": {
											"name": "OtbCurr",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['OtbResValue']"
										},
										"sink": {
											"name": "OtbResValue",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['OtbSpecValue']"
										},
										"sink": {
											"name": "OtbSpecValue",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['SprRsnProfile']"
										},
										"sink": {
											"name": "SprRsnProfile",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['BudgType']"
										},
										"sink": {
											"name": "BudgType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['OtbStatus']"
										},
										"sink": {
											"name": "OtbStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['OtbReason']"
										},
										"sink": {
											"name": "OtbReason",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['CheckType']"
										},
										"sink": {
											"name": "CheckType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['ConOtbReq']"
										},
										"sink": {
											"name": "ConOtbReq",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['ConPrebookLev']"
										},
										"sink": {
											"name": "ConPrebookLev",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['d']['results'][0]['ConDistrLev']"
										},
										"sink": {
											"name": "ConDistrLev",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPEKKO",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPEKKO",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SAP/S4/OData"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SAPEKKO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPProductPrice')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.218:8081/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPProductPrice",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "10:00:00",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productCategoryCode']"
										},
										"sink": {
											"name": "productCategoryCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitName']"
										},
										"sink": {
											"name": "salesUnitName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicPrice']"
										},
										"sink": {
											"name": "basicPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['planDeliveryDays']"
										},
										"sink": {
											"name": "planDeliveryDays",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updateDate']"
										},
										"sink": {
											"name": "updateDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createDate']"
										},
										"sink": {
											"name": "createDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsn']"
										},
										"sink": {
											"name": "bomsn",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPProductPrice",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPProductPriceParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPProductPrice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@getPastTime(16,'Hour','yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productCategoryCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductCategoryCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ProductLineName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "secondProductLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SecondProductLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnitNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SalesUnitNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnitName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SalesUnitName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicPrice",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "BasicPrice",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "planDeliveryDays",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "PlanDeliveryDays",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "isDangerous",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IsDangerous",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsn",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Bomsn",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CreateDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updateDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "UpdateDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPProductPriceParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPProductPriceDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-02T06:45:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_SAPProductPrice')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SyncS4_SAPDeliveries')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.195:8083/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPDeliveries",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['storageLocation']"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocNo']"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineName']"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemNo']"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemType']"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemTypeName']"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDate']"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryQuantity']"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnit']"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['upperItemBatchNo']"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitQuantity']"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['unitPrice']"
										},
										"sink": {
											"name": "unitPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderAmount']"
										},
										"sink": {
											"name": "orderAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryAmount']"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['storageLocationDesc']"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroupName']"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productTypeName']"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderNo']"
										},
										"sink": {
											"name": "orderNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsign']"
										},
										"sink": {
											"name": "bomsign",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['shipToDealerNo']"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['solidToDealerNo']"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['billingStatus']"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomheaderMaterialNo']"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['plantNo']"
										},
										"sink": {
											"name": "plantNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['batchNo']"
										},
										"sink": {
											"name": "batchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['serialNo']"
										},
										"sink": {
											"name": "serialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryStatus']"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesOrgNo']"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNameZH']"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroup']"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderItemNo']"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitNo']"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productType']"
										},
										"sink": {
											"name": "productType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdDate']"
										},
										"sink": {
											"name": "createdDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdTime']"
										},
										"sink": {
											"name": "createdTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedDate']"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deletionFlag']"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedTime']"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPDeliveries",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPDeliveries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@getPastTime(16,'Hour','yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-21T08:04:40Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SyncS4_SAPDeliveries_To_DW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.195:8083/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPDeliveries",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['storageLocation']"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocNo']"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineName']"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemNo']"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemType']"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemTypeName']"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDate']"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryQuantity']"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnit']"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['upperItemBatchNo']"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitQuantity']"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['unitPrice']"
										},
										"sink": {
											"name": "unitPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderAmount']"
										},
										"sink": {
											"name": "orderAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryAmount']"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['storageLocationDesc']"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroupName']"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productTypeName']"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderNo']"
										},
										"sink": {
											"name": "orderNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsign']"
										},
										"sink": {
											"name": "bomsign",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['shipToDealerNo']"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['solidToDealerNo']"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['billingStatus']"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomheaderMaterialNo']"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['plantNo']"
										},
										"sink": {
											"name": "plantNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['batchNo']"
										},
										"sink": {
											"name": "batchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['serialNo']"
										},
										"sink": {
											"name": "serialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryStatus']"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesOrgNo']"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNameZH']"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroup']"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderItemNo']"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitNo']"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productType']"
										},
										"sink": {
											"name": "productType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdDate']"
										},
										"sink": {
											"name": "createdDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdTime']"
										},
										"sink": {
											"name": "createdTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedDate']"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deletionFlag']"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedTime']"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPDeliveries",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPDeliveries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@getPastTime(16,'Hour','yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-06T08:41:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SyncS4_SAPDeliveries_pre4hour')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAccessToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://10.40.20.195:8083/Auth/GetAccessToken?systemNo=bi",
							"connectVia": {
								"referenceName": "selfhosted",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "SetAccessToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AccessToken",
							"value": {
								"value": "@activity('GetAccessToken').output.Response",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CopySAPDeliveries",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "01:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"accessToken": {
										"value": "@variables('AccessToken')",
										"type": "Expression"
									},
									"env": "Production"
								},
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['storageLocation']"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocNo']"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineName']"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemNo']"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemType']"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocItemTypeName']"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDate']"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryQuantity']"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnit']"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['upperItemBatchNo']"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitQuantity']"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['unitPrice']"
										},
										"sink": {
											"name": "unitPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderAmount']"
										},
										"sink": {
											"name": "orderAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryAmount']"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['secondProductLineCode']"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNo']"
										},
										"sink": {
											"name": "productNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productName']"
										},
										"sink": {
											"name": "productName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineName']"
										},
										"sink": {
											"name": "productLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['storageLocationDesc']"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroupName']"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productTypeName']"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderNo']"
										},
										"sink": {
											"name": "orderNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomsign']"
										},
										"sink": {
											"name": "bomsign",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['shipToDealerNo']"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['solidToDealerNo']"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['billingStatus']"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['bomheaderMaterialNo']"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['plantNo']"
										},
										"sink": {
											"name": "plantNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['batchNo']"
										},
										"sink": {
											"name": "batchNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['serialNo']"
										},
										"sink": {
											"name": "serialNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryStatus']"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productLineCode']"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesUnitNo']"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['isDangerous']"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['salesOrgNo']"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productNameZH']"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['materialGroup']"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['orderItemNo']"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['basicUnitNo']"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['productType']"
										},
										"sink": {
											"name": "productType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdDate']"
										},
										"sink": {
											"name": "createdDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['createdTime']"
										},
										"sink": {
											"name": "createdTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedDate']"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deletionFlag']"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['updatedTime']"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['deliveryDocTypeNo']"
										},
										"sink": {
											"name": "deliveryDocTypeNo"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_SAPDeliveries_daily",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet_prehour",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyFromDataLakeToDatabase",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopySAPDeliveries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "InsertTime",
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "shipToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "solidToDealerNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "createdTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesOrgNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "billingStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productNameZH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "upperItemBatchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitQuantity",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitQuantity",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "storageLocationDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "plantNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "batchNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "serialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomsign",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "bomheaderMaterialNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "secondProductLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "secondProductLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productLineName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "materialGroupName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "materialGroupName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productTypeName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productTypeName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "orderNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "orderNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productLineCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productLineCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnitNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesUnitNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "isDangerous",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "isDangerous",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "materialGroup",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "materialGroup",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "orderItemNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "orderItemNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "basicUnitNo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "basicUnitNo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "productType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "productType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deletionFlag",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deletionFlag",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "updatedTime",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "updatedTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "secondProductLineName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "secondProductLineName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "deliveryDocItemTypeName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryDocItemTypeName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "salesUnit",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "salesUnit",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "unitPrice",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "unitPrice",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "orderAmount",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "orderAmount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "deliveryAmount",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "deliveryAmount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "deliveryDocTypeNo"
										},
										"sink": {
											"name": "deliveryDocTypeNo"
										}
									},
									{
										"source": {
											"name": "InsertTime"
										},
										"sink": {
											"name": "InsertTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesParquet_prehour",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_SAPDeliveriesDB_pre4hour",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyFromDataLakeToDatabase",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_Fact_S4Deliveries_Get]"
						},
						"linkedServiceName": {
							"referenceName": "Report",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AccessToken": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-31T02:09:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/per4hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SyncS4_SAPDeliveries_pre4hour",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 4,
						"startTime": "2022-12-21T23:57:00",
						"timeZone": "China Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SyncS4_SAPDeliveries_pre4hour')]"
			]
		}
	]
}